/* CC Deed CSS! */

/* Progress meter css */
@import url('/includes/total.css');

/* Main CSS Continues */
		body {
			background-color: #2d2d2d;
			font: 13px/16px arial, verdana, sans-serif;
			text-align: center;
			color: #ccc;
			margin: 0;
			padding: 0;
		}

                body.rtl {
                    direction: rtl;
                }
		
		h3 {
			font-size: 1.25em;
		}
		
		#cc-logo { display: none; }
		
		#deed-bg {

		}
		
		.mockup-badge {
			position: fixed;
			background-color: #eee;
			color: #060606;
			padding: 0 1em;
			top: 0;
			opacity: 0.50;
			font-size: 70%;
		}
		.left { 
			left: 0;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-radius-bottomright: 10px;
      border-bottom-right-radius: 10px;
		}
		.right { 
			right: 0;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomleft: 10px;
      border-bottom-left-radius: 10px;
		}
		
		
		#deed {
			background: #424242;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
			width: 768px;
			padding: 10px 0;
			color: #333;
			margin: 20px auto;
			text-align: center;
		}
		
		#deed-head {
			width: 750px;
			height: 134px;
			margin: 0 auto;
			position: relative;
		}
		
		#deed-head h1 {
			margin: 0;
		}
		
		#deed-head span, #deed-foot span {
			display: none;
		}	
		
		#cc-link a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 750px;
			height: 80px;
		}
		
		.pd #cc-link {
			display: block;
			position: absolute;
			top: 40px;
			height: 35px;
			width: 200px;
		}
		.pd #cc-link a {
			height: 35px;
			width: 200px;
		}

		.red #deed-head {
			background: url("/images/deed/deed-head-red.png") 0 0 no-repeat;
		}
		
		.yellow #deed-head {
			background: url("/images/deed/deed-head-yellow.png") 0 0 no-repeat;
		}
		
		.green #deed-head {
			background: url("/images/deed/deed-head-green.png") 0 0 no-repeat;
		}
		
		.pd #deed-head {
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
			height: 100px;
		}
		
		.pd-grey #deed-head {
			background: url("/images/deed/deed-head-grey.png") 0 0px no-repeat;
		}
		
		#deed-main {
			background-color: #fff;
			
	/* "!important" box-model hack for IE */
			width: 750px !important;
	/*width: 780px;*/
			
			padding: 20px 0;
			margin: 0 auto;
			text-align: left;
			
			border-bottom: 1px solid #505050;
		}
		
		body.rtl #deed-main {
			text-align: right;
		}
		
		.pd #deed-main {
			border-color: #bbc0ab;
		}
		
		#deed-newer {
			border: 1px solid #e0adad;
			background-color: #f0f0f0;
			padding: 15px;
			margin-top: 25px;
		}
		#deed-newer a, #deed-main a {
			color: #111;
 			text-decoration:underline;
			font-weight: bold;
		}
		
		#deed-main a.inline-help {
			text-decoration: none;
			font-weight: inherit;
			border-bottom: 1px dashed #333;
		}
		
		#deed-main-content {
			position: relative;
			margin: 0 15px;
		
		}
		
		#deed-license {
			text-align:center;
			margin-top: 0px;
			margin-bottom: 50px;
			font-weight: bold;
			color: #fff;
		}
		#deed-license h2 {
			margin: 0;
			font-size: 1.46em;
			padding-top: 90px;
      line-height: 1.1;
		}
		
		.pd #deed-license {
			position: relative;
			height: 100px;
		}
		
		.pd #deed-license h2 {
			position: absolute;
			bottom: 20px;
			color: #333;
/*			padding-top: 90px;*/
/*			padding-top: 50px;*/
			font-size: 2em;
/*			font-size: 300%;*/
			text-shadow: 0 1px 0 #fff;
			line-height: 1.2;
			margin: 0;
			padding: 0;
			width: 100%;
		}
		
		#deed-main img {
			float: right;
			border: 1px solid #888;
			margin-bottom:  5px;
		}
	  
    #deed-disclaimer {
      position: relative;
      width: 500px;
      margin: 5px auto 0;
      border: 1px solid #ccc;
      background: #f1f1f1;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #777;
      overflow-y: hidden; 
    }

    #deed-disclaimer .summary {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    #deed-disclaimer .disclaimer {
      padding: 4px 6px;
      text-align: right;
    }
    #deed-disclaimer a {
      color: #5a5a5a;
    }

		#deed-rights {
			background:  url("/images/deed/freedoms-header.png") 0 0 no-repeat;
			padding: 0;
		}
		
		#deed-conditions {
			background:  url("/images/deed/limitations-header.png") 0 0 no-repeat;
			padding: 0;
		}

		#deed-conditions ul {
		}
		
		#deed-conditions ul li ul {
			margin-top: 8px;
		}
		
		#deed-understanding {
			padding: 0;
			margin-top: 0px;
			margin-bottom: 33px;
			background:  url("/images/deed/understanding-header.png") 0 0 no-repeat;

		}
    
    .pd #deed-understanding {
        padding-left: 10px;
    }
    .pd #deed-understanding ul {
        padding-left: 0;
    }
    .pd #deed-understanding ul ul {
        margin-left: 100px;
    }

		#deed-understanding li.license {
		    padding-left:0px;
		}
		#deed-understanding-zero {
/*			padding: 0 10px;*/
			margin-top: -20px;
			margin-bottom: 0px;
		}
		#deed-understanding ul, #deed-understanding-zero ul {
		    list-style-image:none;
		    list-style-position:outside;
		    list-style-type:none;
		    margin-top:2em;
		}
		
		#deed-understanding ul ul, #deed-understanding-zero ul ul {
		    list-style-type:disc;
		    margin-top:1em;
		}

		#deed-conditions div.fineprint {
			padding: 15px;
			border: 1px solid #ddd;
			color: #111;
			font-size: 0.92em;
		}
		#deed-conditions-no-icons li.license {
		    padding-left:0px;
		}
        #license-freedoms-no-icons li.license {
            padding-left:0px;
        }

		#deed-foot {
			position: relative;
			width: 750px;
			padding: 10px 0;
			margin: 0 auto;
			color: #fff;
			text-align: left;
		}
		
		body.rtl #deed-foot {
			text-align: right;
		}
		
		.pd #deed-foot {
			color: #333;
                        overflow-y: inherit;
		}
		
		#deed-foot p {
			margin: 0 20px;
			padding: 0;
		}
		
		a {
			color: #fffc09;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		
		.pd a {
			color: #4A4902;
		}
		
		.red #deed-foot {
			background: url("/images/deed/deed-foot-red.png") 0 0;
		}
		
		.yellow #deed-foot {
			background: url("/images/deed/deed-foot-yellow.png") 0 0;
		}
		
		.green #deed-foot {
			background: url("/images/deed/deed-foot-green.png") 0 0;
		}
		
		.pd #deed-foot {
			height: 70px;
		}
		
		.pd-grey #deed-foot {
			background: url('/images/deed/deed-foot-grey.png') 0 0 no-repeat;
		}
		
		#disclaimer {
			float: right;
			padding-right: 15px;
			padding-left: 20px;
		}
/*
		.summary {
		  text-align: left;
		  width: 72%;
		}

		body.rtl .summary {
			text-align: right;
		}
*/
		li strong {
			color: #222;
		}
		li {
			margin-bottom: 8px;
		}
                .green #deed-rights ul.license-properties {
                    width: 520px!important;
                }
		ul.license-properties {
		    width: 600px;
		    list-style-image: none;
		    list-style-position: outside;
		    list-style-type: none;
		}
		li.license {
			list-style: none;
			padding-bottom: 20px;
			padding-left: 70px;
			padding-top: 5px;
            min-height: 3.5em;
		}
	  
    ul.understanding li.license {
      min-height: inherit;
      padding-bottom: 15px;
    }

		li.license ul.license-properties {
			padding-left: 0;
		}
		
		li.license p {
			margin: 0;
			padding: 0;
		}
		li.license-hidden {
			list-style: none;
		}
	
    li.free {
          background: url("http://mirrors.creativecommons.org/tmp/freedomdefined-50x50.png") 0 0 no-repeat;
    }
    
    li.share, li.remix, li.commercial {
        padding-left: 0;
        padding-bottom: 0;
        min-height: 1em;
    }
	
		li.devnations {
					background: url("/images/deed/devnations.png") 0 0 no-repeat;
		}

		li.no-endorse{
					background: url("/images/deed/no-endorse.png") 0 0 no-repeat;
		}
		li.by {
					background: url("/images/deed/by.png") 0 0 no-repeat;
		}
		li.nc {
					background: url("/images/deed/nc.png") 0 0 no-repeat;
		}
		li.nc-jp {
					background: url("/images/deed/nc-jp.png") 0 0 no-repeat;
		}
		li.nc-eu {
					background: url("/images/deed/nc-eu.png") 0 0 no-repeat;
		}
		li.sa {
					background: url("/images/deed/sa.png") 0 0 no-repeat;
		}
		li.nd {
					background: url("/images/deed/nd.png") 0 0 no-repeat;
		}
	  li.sampling, li.samplingplus{
          background: url("/images/deed/sampling.png") 0 0 no-repeat;
    }	
		li.more {
					background: url("/images/deed/more.png") 0 0 no-repeat;
		}

    li.notice {
          background: url("/images/deed/notice.png") 0 0 no-repeat;
    }
    li.src {
          background: url("/images/deed/src.png") 0 0 no-repeat;
    }
    li.nolaw {
          background: url("/images/deed/nolaw.png") 0 8px no-repeat;
    }
		li ul li.nolaw {
					background: url("/images/deed/nolaw-small.png") 0 8px no-repeat;
					padding-left: 32px;
		}
	  li.usage-guidelines {
					background: url("/images/deed/usage-guidelines.png") 0 0 no-repeat;
					margin-bottom: 25px;
		}
		li ul li.usage-guidelines {
					background: url("/images/deed/usage-guidelines-small.png") 0 6px no-repeat;
					padding-left: 32px;
					margin-bottom: 0;
		}
					
		li.publicdomain {
				  background: url("/images/deed/noc.png") 0 3px no-repeat;
		}
					
		li a {
			color: #0000ff;
			text-decoration: none;
		}
    #referrer-metadata {
          padding: 20px;
          border-style: dotted;
    }
		#referrer-metadata a {
			color: #0000FF;
			text-decoration: none;
		}


		blockquote {
			padding:  8px;
			background-color:  #eee;
			margin:  15px 0;
			clear: both;
		}

		h3 {
			padding-top: 10px;
			padding-left: 10px;
			margin-top:  1.75em;
			margin-bottom:  1.25em;
		}

		#libre {
			position: absolute;
			right: 25px;
			top: -100px;
			width: 100px;
			height: 100px;
		}
		#librepd {
			width: 150px;
			float: right;
		}

		#libre img, #libre a, #librepd img, #librepd a {
			width: 75px;
			height: 75px;
			border: none !important;
			margin-top: 2px;
		}

div.bd p {
       color: #111;
       line-height:140%;
       padding-bottom:10px !important;
       font-size: 0.92em;
       margin: 0 !important;
}

#work-attribution-container {
   border: 1px solid #D5D5D5;
   margin-top: 10px;
   padding: 7px;
}

#work-attribution-container input {
   width: 93%;
   border: 1px #888a85 solid;
   height: 1.9em;
}

#attribution_help img, #citation_help img {
   border: 0;
   margin: 0;
   float: none;
}

#work-details-block div {
   margin-top: 0px;
   padding-top:15px;
   padding-bottom: 0px;
   border-top: 1px solid #ddd;
}

#work-details-block div ul {
   list-style: none;
}

#work-details-item-title {
    display: inline-block;
    width: 6em;
    text-align: right;
    margin-right: 0.5em;
}


/* This is for the GNU/GPL license: list must start at 0 and the attribute start='0' is not allowed in xhtml*/
ol.gpl { counter-reset: item -1}
li.gpl { list-style: none;}
li.gpl:before {
	content: counter(item) ". ";
	counter-increment: item;
	}

/* CC Network Related */
.network {
	padding: 8px !important;
	margin-top: 1em !important;
	background-color: #d4efb9;
}

/* CC Campaign 
div#campaign {
	background: url('../images/support/2009/deed-banner.png') top left repeat-x #2d2d2d;
	height: 80px;
	color: #fff;
	margin: 0;
	margin-top: -6px;
	padding: 0;
	margin-bottom: -49px;
	-moz-border-radius: 0;
	min-width: 768px;
	z-index: -5;
}

div#campaign div {
	margin: 0.5em;
	font-weight: bold;
}

div#campaign div a {
	display: inline !important;
	float: none !important;
	font-weight: normal;
}

div#campaign .donate-today {
	position: absolute;
	left: 33px;
	padding: 0;
}

div#campaign div a#sticker-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 95px;
	width: 175px;
}

div#campaign div a#sticker-link:hover {
	text-decoration: none;
}
/*
#campaign .progress {
	position: absolute;
	top: 19px;
	right: 15px;
	width: 125px;
	height: 14px !important;
	padding: 1px;
	background-color: #2d2d2d;
}

#campaign .progress span {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	height: 14px;
	margin: 0;
	background: url('http://creativecommons.org/images/support/progress.png');
}

#campaign .progress {
	position: absolute;
	right: 15px;
	height: 14px !important;
	padding: 1px;
	width: 270px;
	text-align: left;
	color: #ccf;
	font-size: 11px;
}

#campaign .progress .progress-text {
	float: left;
	width: 85px;
	padding: 0;
	margin: 0;
}
#campaign .progress .progress-goal {
	width: 60px;
}

#campaign .progress .meter {
	background-color: #2d2d2d;
	position: relative;
	float: left;
	width: 115px;
	height: 14px !important;
	padding: 1px;
	margin: 0 5px 0 0;
	cursor: pointer;
}

#campaign .progress .meter span {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	height: 14px;
	margin: 0;
	background-color: #a3aaa3;
	background: url('http://creativecommons.org/images/support/progress.png');
}

/* Language translations box */
div#languages {
	width: 90%; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	text-align: center;
	overflow: auto;
	background-color: #373737;
	padding: 0.5em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.9em;
}

div#languages a {
	color:#CCCCCC;
/*
	display: block;
	width: 20%;
	float: left;
	text-align: left;
*/
}

div#languages p {
	margin-top: 0;
}

.help_panel {
    display:none;
}

#help_publicity_rights, #help_endorsement, #help_citation_help, #help_who_is_affirmer, #help_disclaimer {
  visibility: hidden;
  height: 0;  
}

#help_publicity_rights_c > #help_publicity_rights,
#help_endorsement_c > #help_endorsement,
#help_citation_ehlp_c > #help_citation_help,
#help_who_is_affirmer_c > #help_who_is_affirmer_c,
#help_disclaimer_c > #help_disclaimer {
  height: auto;
}

ol.arabic-markers {
    list-style-type: none;
}

#thank-you-footer {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

#thank-you-footer p {
    text-align: left;
}

@media screen and (max-width: 600px) {
 html {
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 }

 #deed {
 margin: 0;
 padding: 0;
 }

 #deed,
 #deed-head,
 #cc-link a,
 #deed-disclaimer,
 ul.license-properties {
 width: auto;
 }

 #deed-main,
 .green #deed-rights ul.license-properties {
 /* need style trumps */
 width: auto !important;
 }

 #deed-head,
 #deed-rights,
 #deed-conditions,
 #deed-understanding {
 /* trump rtl positioning */
 background-position: center top !important;
 }

 #deed-main-content {
 margin: 0;
 }

 #deed-disclaimer {
 margin: 0 10px;
 }

 .green #deed-disclaimer {
 margin-right: 100px;
 }

 #libre {
 right: 10px;
 }

 ul {
 padding: 0 10px;
 }

 li.license {
 padding-bottom: 0;
 }

 #deed-understanding {
 margin-bottom: 0;
 }

 #thank-you-footer {
     max-width: 90%;
 }

}