.site-footer a:hover,
.site-footer a:focus {
  text-decoration: none;
}

.site-footer .license-icons { text-align: center !important; }

body:not(.lang-en) .site-footer .cc-footer-contact,
body:not(.lang-en) .site-footer .cc-footer-license,
body:not(.lang-en) .site-footer .cc-footer-links {
  display: none !important;
}