/* CC Deed CSS! */

/*@import url('/includes/fonts/fontello/css/cc-fontello.css');
*/
@import url('./legalcode-header.css');
@import url('./legalcode-footer.css');

/* Main CSS Continues */
body {
    background: #FFF;
    font: 17px/1.5 "Source Sans Pro", sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
}

body.rtl {
    direction: rtl;
}

h3 {
    font-size: 1.25em;
}

@media screen { .print-only { display: none !important; } }


.says, .screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

#cc-logo {
  /*background: url(/images/deed/cc_icon_white_x2.png) no-repeat center center;
  background-size: 100%;*/
  height: 62px;
  margin: 0 auto;
  /*width: 62px;*/
}

#cc-logo img {
    display: inline-block;
    height: 72px;
    margin: 0 5px;
}

.mockup-badge {
    position: fixed;
    background-color: #eee;
    color: #060606;
    padding: 0 1em;
    top: 0;
    opacity: 0.50;
    font-size: 70%;
}

.left {
    border-bottom-right-radius: 10px;
    left: 0;
}

.right {
    border-bottom-left-radius: 10px;
    right: 0;
}

#deed {
    background: #E9E9E9;
    color: #333;
    margin: 10px 20px 0;
    max-width: 1140px;
    text-align: center;
}

#language-selector-block {
    margin: 15px 20px;
    text-align: right;
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
    #deed, #language-selector-block {
        margin-left: auto;
        margin-right: auto;
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    #deed, #language-selector-block {
        width: 950px;
    }
}

@media screen and (min-width: 1200px) {
    #deed, #language-selector-block {
        width: 976px;
    }
}

#language-selector-block .language-icon {
    height: 32.5px;
    width: 24px;
    margin: 0 0.25em;
}

#language-selector-block select {
    padding: 0;
}

#deed-head {
    background: linear-gradient(to bottom,rgba(0,181,218,1) 0%,rgba(0,165,200,1) 100%);
    color: #FFF;
    margin: 0 auto;
    padding: 40px 10%;
    position: relative;
}

#deed-head h1 {
    display: none;
}

#cc-link a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    height: 80px;
}

.pd #cc-link {
    display: block;
    position: absolute;
    top: 40px;
    height: 35px;
    width: 200px;
}

.pd #cc-link a {
    height: 35px;
    width: 200px;
}

.pd #deed-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;
}

.pd-grey #deed-head {
    background: url("/images/deed/deed-head-grey.png") 0 0px no-repeat;
}

#deed-main {
    text-align: left;
}

.pd #deed-main {
    border-color: #bbc0ab;
}

#deed-newer {
    border: 1px solid #e0adad;
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 25px;
}

#deed-main a.inline-help {
    text-decoration: none;
    font-weight: inherit;
    border-bottom: 1px dashed #333;
}

#deed-main-content {
    position: relative;
    margin: 50px 10%;
}

@media screen and (min-width: 1200px) {

    #deed-main-content {
        margin-left: 178px;
        margin-right: 178px;
    }
}

#deed-main-content .shaded {
    background: #FFF;
    margin-bottom: 1.5em;
    padding: 20px;
}

#deed-main-content .shaded :first-child { margin-top: 0; font-style: italic; }

#deed-main-content .shaded :last-child { margin-bottom: 0; }

#deed-main-content .usage-considerations {
    background-color: #fff;
    /*padding: 8px;*/
    margin: 15px 0;
    clear: both;
}

/* For animation read: https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css */
#deed-main-content .cc-collapsible {
    max-height: 5000px;
    transition: max-height 0.25s ease-in;
    position: relative;
}
#deed-main-content .cc-collapsible img {
    float: none;
    border: 0;
    margin: 0;
    height: 12px;
    width: 12px;
    transform: rotate(180deg);
}

#deed-main-content .cc-collapsible.collapsed {
    max-height: 6.3em;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

#deed-main-content .cc-collapsible .cc-collapsible__trigger {
    background: linear-gradient(0deg, #fff 21%, rgba(255, 255, 255, 0.1));
    display: block;
    padding: 5em 0 0.5em 0;
    text-align: center;
    width: 100%;
}

#deed-main-content .cc-collapsible.collapsed .cc-collapsible__trigger {
    bottom: 0;
    left: 0;
    position: absolute;
}

#deed-main-content .cc-collapsible a:hover,
#deed-main-content .cc-collapsible a:focus {
    outline: none;
    text-decoration: none;
}


#deed-main-content .cc-collapsible.collapsed a span {
    display: inline-block;
    transform: rotate(180deg);
}

#deed-license {
    text-align:center;
    margin: 20px auto 0;
    font-weight: bold;
    color: #fff;
}
#deed-license h2 {
    font-size: 38px;
    line-height: 1.1;
    margin: 0;
}

.pd #deed-license {
    position: relative;
    height: 100px;
}

.pd #deed-license h2 {
    position: absolute;
    bottom: 20px;
    color: #333;
    font-size: 2em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    width: 100%;
}

#deed-main p { margin: 1em 0; }

#deed-main ol,
#deed-main ul {
    margin: 1.75em 0;
    padding-left: 2em;
}


#deed-main ol ol,
#deed-main ul ul {
    margin: 0;
}

#deed-main ol {
  margin-left: 0;
}

#deed-main ol.arabic { list-style-type: none; }


/* This stanza should be maintained in parallel with legalcode-print.css
 *
 * Please read:
 * - https://www.w3schools.com/tags/att_ol_type.asp
 * - https://stackoverflow.com/questions/27104096/css-selector-type-var-not-selecting-lower-alpha-versus-upper-alpha
 *
 * The solution below is not-ideal.
 */
#deed-main ol[type="a"] { list-style-type: lower-alpha; }
/* not case-sensitive :(
 * #deed-main ol[type="A"] { list-style-type: upper-alpha; }
 */
#deed-main ol[type="a"] ol[type="a"] { list-style-type: upper-alpha; }
#deed-main ol[type="i"] { list-style-type: lower-roman; }
/* not case-sensitive :(
 * #deed-main ol[type="I"] { list-style-type: upper-roman; }
 */
#deed-main ol[type="i"] ol[type="i"] { list-style-type: upper-roman; }


#deed-main ol li { list-style-image: none; }


#deed-main img {
    float: right;
    border: 1px solid #888;
    margin-bottom:  5px;
    margin-left: 10px;
}

#deed-disclaimer {
    background: #fff;
    margin: 0 auto 50px;
    max-width: 500px;
    padding: 10px;
    position: relative;
    overflow-y: hidden;
}

#deed-disclaimer .disclaimer {
    text-align: right;
}

#deed-rights {
    background:  url("/images/deed/freedoms-header.png") 0 0 no-repeat;
    padding: 0;
}

#deed-conditions {
    background:  url("/images/deed/limitations-header.png") 0 0 no-repeat;
    padding: 0;
}

#deed-conditions ul {
}

#deed-conditions ul li ul {
    margin-top: 8px;
}

#deed-understanding {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 33px;
    background:  url("/images/deed/understanding-header.png") 0 0 no-repeat;

}

.pd #deed-understanding {
    padding-left: 10px;
}
.pd #deed-understanding ul {
    padding-left: 0;
}
.pd #deed-understanding ul ul {
    margin-left: 100px;
}

#deed-understanding li.license {
    padding-left:0px;
}
#deed-understanding-zero {
    margin-top: -20px;
    margin-bottom: 0px;
}
#deed-understanding ul, #deed-understanding-zero ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-top:2em;
}

#deed-understanding ul ul, #deed-understanding-zero ul ul {
    list-style-type:disc;
    margin-top:1em;
}

#deed-conditions div.fineprint {
    padding: 15px;
    border: 1px solid #ddd;
    color: #111;
    font-size: 0.92em;
}
#deed-conditions-no-icons li.license {
    padding-left:0px;
}
#license-freedoms-no-icons li.license {
    padding-left:0px;
}

#deed-foot {
    position: relative;
    padding: 20px 0;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.pd #deed-foot {
    color: #333;
    overflow-y: inherit;
}

#deed-foot p {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #049CCF;
    text-decoration: none;
}
a:hover {
    color: #464646;
    text-decoration: underline;
}

.pd a {
    color: #4A4902;
}

.pd #deed-foot {
    height: 70px;
}

.pd-grey #deed-foot {
    background: url('/images/deed/deed-foot-grey.png') 0 0 no-repeat;
}

#disclaimer {
    float: right;
    padding-right: 15px;
    padding-left: 20px;
}

li strong {
    color: #222;
}
li {
    margin-bottom: 8px;
}
.green #deed-rights ul.license-properties {
    width: 520px!important;
}
ul.license-properties {
    width: 600px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
li.license {
    list-style: none;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-top: 5px;
    min-height: 3.5em;
}

ul.understanding li.license {
    min-height: inherit;
    padding-bottom: 15px;
}

li.license ul.license-properties {
    padding-left: 0;
}

li.license p {
    margin: 0;
    padding: 0;
}
li.license-hidden {
    list-style: none;
}

li.free {
    background: url("http://mirrors.creativecommons.org/tmp/freedomdefined-50x50.png") 0 0 no-repeat;
}

li.share, li.remix, li.commercial {
    padding-left: 0;
    padding-bottom: 0;
    min-height: 1em;
}

li.devnations {
    background: url("/images/deed/devnations.png") 0 0 no-repeat;
}

li.no-endorse{
    background: url("/images/deed/no-endorse.png") 0 0 no-repeat;
}
li.by {
    background: url("/images/deed/by.png") 0 0 no-repeat;
}
li.nc {
    background: url("/images/deed/nc.png") 0 0 no-repeat;
}
li.nc-jp {
    background: url("/images/deed/nc-jp.png") 0 0 no-repeat;
}
li.nc-eu {
    background: url("/images/deed/nc-eu.png") 0 0 no-repeat;
}
li.sa {
    background: url("/images/deed/sa.png") 0 0 no-repeat;
}
li.nd {
    background: url("/images/deed/nd.png") 0 0 no-repeat;
}
li.sampling, li.samplingplus{
    background: url("/images/deed/sampling.png") 0 0 no-repeat;
}
li.more {
    background: url("/images/deed/more.png") 0 0 no-repeat;
}

li.notice {
    background: url("/images/deed/notice.png") 0 0 no-repeat;
}
li.src {
    background: url("/images/deed/src.png") 0 0 no-repeat;
}
li.nolaw {
    background: url("/images/deed/nolaw.png") 0 8px no-repeat;
}
li ul li.nolaw {
    background: url("/images/deed/nolaw-small.png") 0 8px no-repeat;
    padding-left: 32px;
}
li.usage-guidelines {
    background: url("/images/deed/usage-guidelines.png") 0 0 no-repeat;
    margin-bottom: 25px;
}
li ul li.usage-guidelines {
    background: url("/images/deed/usage-guidelines-small.png") 0 6px no-repeat;
    padding-left: 32px;
    margin-bottom: 0;
}

li.publicdomain {
    background: url("/images/deed/noc.png") 0 3px no-repeat;
}

#referrer-metadata {
    padding: 20px;
    border-style: dotted;
}

blockquote {
    background: rgba(255, 255, 255, 0.5);
    border-left: 10px solid #00B5DA;
    font-style: normal;
    margin: 1.5em 0;
    padding: 10px 10px 10px 30px;
}

h3 {
    font-size: 33px;
    line-height: 1.1;
    margin: 1em 0;
    text-align: center;
}

#libre {
    position: absolute;
    right: 25px;
    top: -100px;
    width: 100px;
    height: 100px;
}
#librepd {
    width: 150px;
    float: right;
}

#libre img, #libre a, #librepd img, #librepd a {
    width: 75px;
    height: 75px;
    border: none !important;
    margin-top: 2px;
}

div.bd p {
    color: #111;
    line-height:140%;
    padding-bottom:10px !important;
    font-size: 0.92em;
    margin: 0 !important;
}

#work-attribution-container {
    border: 1px solid #D5D5D5;
    margin-top: 10px;
    padding: 7px;
}

#work-attribution-container input {
    width: 93%;
    border: 1px #888a85 solid;
    height: 1.9em;
}

#attribution_help img, #citation_help img {
    border: 0;
    margin: 0;
    float: none;
}

#work-details-block div {
    margin-top: 0px;
    padding-top:15px;
    padding-bottom: 0px;
    border-top: 1px solid #ddd;
}

#work-details-block div ul {
    list-style: none;
}

#work-details-item-title {
    display: inline-block;
    width: 6em;
    text-align: right;
    margin-right: 0.5em;
}

/* This is for the GNU/GPL license: list must start at 0 and the attribute start='0' is not allowed in xhtml*/
ol.gpl { counter-reset: item -1}
li.gpl { list-style: none;}
li.gpl:before {
    content: counter(item) ". ";
    counter-increment: item;
}

/* CC Network Related */
.network {
    padding: 8px !important;
    margin-top: 1em !important;
    background-color: #d4efb9;
}

/* Language translations box */
div#languages {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: center;
    overflow: auto;
    background-color: #373737;
    padding: 0.5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

div#languages a {
    color:#CCCCCC;
}

div#languages p {
    margin-top: 0;
}

.help_panel {
    display:none;
}

#help_publicity_rights, #help_endorsement, #help_citation_help, #help_who_is_affirmer, #help_disclaimer {
    visibility: hidden;
    height: 0;
}

#help_publicity_rights_c > #help_publicity_rights,
#help_endorsement_c > #help_endorsement,
#help_citation_ehlp_c > #help_citation_help,
#help_who_is_affirmer_c > #help_who_is_affirmer_c,
#help_disclaimer_c > #help_disclaimer {
    height: auto;
}

ol.arabic-markers {
    list-style-type: none;
}

#thank-you-footer {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

#thank-you-footer p {
    text-align: left;
}

/* Donate Footer Styles
------------------------------------ */
#deed-donate-footer {
    background-color: #424242;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 768px;
    padding: 10px 0;
    color: #333;
    margin: 20px auto;
}
.footer-trigger {
    background-color: #fff;
    width: 710px;
    margin: 0 auto;
    padding: 20px;
}
.footer-logo {
    float: left;
    margin-right: 20px;
}
.footer-trigger p {
    text-align: left;
    margin: 0;
}
.footer-trigger button {
    background: rgb(0,165,200);
    display:inline-block;
    text-align: center;
    padding: .5em 1em;
    border: 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
    box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin: 15px 0 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.footer-trigger button:hover {
    background: rgb(0,181,218);
}
@media screen and (max-width: 788px) {
    #deed-donate-footer {
	width: 90%;
	padding: 0;
	background-color: #fff;
    }
    .footer-trigger {
	width: 90%;
	padding: 20px 5%;
	background: none;
    }
}
@media screen and (max-width: 600px) {
    #deed-main-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-logo { display: none; }
}

/* Donate Slide Styles
------------------------------------ */
.js #deed-donate-slide { display: none; }
.js #deed-donate-slide.reveal { display: block; }
#deed-donate-slide {
    width: 90%;
    margin: 0 auto;
    line-height: 17px;
    text-align: center;
    color: #fff;
}
#deed-donate-slide.slider {
    width: 250px;
    margin: 0 auto 0 -280px;
    position: fixed;
    left: 0;
    bottom: 15px;
    z-index: 1000;
    display: table;
    box-shadow: 1px 2px 6px rgba(0,0,0,.3);
    transition: margin .3s ease-in-out;
}
#deed-donate-slide.slider.reveal { margin-left: 0; }

.slide-close {
    background: url('../images/deed/slide-close.png') no-repeat center center;
    width: 16px;
    height: 17px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: .6;
    text-indent: -99999px;
    z-index: 999; }
.slide-close:hover { opacity: 1; }

.slide-tab { display: none; }

/* --- Message --- */
.slide-trigger {
    display: block;
    background-color: #dc642f;
    padding: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.slide-trigger p {
    margin: 0;
    font-weight: 600;
    cursor: pointer;
}

.slide-trigger button {
    background: rgba(70,34,18,.3);
    display:inline-block;
    padding: .5em 1em;
    border: 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
    box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
    color: #fff;
    font-size: 20px;
    margin: 15px 0 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.slide-trigger button:hover {
    background: rgba(70,34,18,.6);
}

/* --- narrow screens --- */
@media screen and (max-width: 1220px) {
    #deed-donate-slide.slider {
	width: 200px;
	margin: 0 auto 0 -230px;
    }
}

@media screen and (max-width: 1120px) {

    #deed-donate-slide.slider {
    	width: 170px;
    	margin: 0 auto 0 -200px;
    }

    .slide-trigger button { font-size: 18px; }
}

@media screen and (max-width: 1060px) {

    #deed-donate-slide.slider {
    	z-index: 100;
    	position: fixed;
    	left: 0;
    	bottom: -100%;
    	width: 100%;
    	margin: 0;
    	text-align: center;
    	transition: bottom .5s ease-in-out;
    }
    #deed-donate-slide.reveal { bottom: 0; }

    .slide-close {
    	background: url('../images/deed/slide-close-mobile.png') no-repeat center center;
    	width: 33px;
    	height: 33px;
    	top: initial;
    	bottom: 5px;
    	right: 5px;
    	opacity: .8;
    }

    .slide-trigger {
	   padding: 10px;
    }

    img.slide-logo { display: none; }

    .slide-trigger button {
	   margin: 5px 0 0;
    }
}

.a-nobreak a {
    white-space:nowrap;
}
