
#cc_widget_dialog {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	color: #222;
	position: absolute;
	padding: 0 10px;
	width: 530px;
	font-size: 14px;
	line-height: 1.33;
/*	height: 200px;*/
	background: #feffe2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feffe2), to(#fefff2)) no-repeat;
	background: -moz-linear-gradient(top, #feffe2, #fefff2) no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#cc_widget_dialog h5 {
	margin-bottom: 0;
}
#cc_widget_dialog p {
	margin-top: 5px;
}

#cc_widget_dialog_header {
	border-bottom: 1px solid #aaa;
}

#cc_widget_dialog .paymentOptions { display: none; }
cc_widget_dialog_premiums {
	overflow-y: auto;
}

#cc_widget_dialog #shirtError {
	color: #e00;
	font-weight: bold;
	padding-left: 15px;
}

#cc_widget_dialog_footer {
	border-top:  1px solid #aaa;
	padding: 15px 0;
}

#cc_widget_dialog button {
	padding: 6px;
	margin-right: 10px;
	border: 1px solid #aaf;
	background: #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#cc_widget_dialog button span { display: none; }
#cc_widget_dialog #cc_widget_dialog_paypal_button {
    background: url("https://support.creativecommons.org/sites/default/themes/cc/images/paypalCheckout.gif") no-repeat scroll 0 0 transparent;
    border: none;
    height: 42px;
    width: 145px;
}

#cc_widget_dialog #cc_widget_dialog_google_button {
    background: url("https://checkout.google.com/buttons/checkout.gif?merchant_id=&w=160&h=43&style=trans&variant=text&loc=en_US") no-repeat scroll 0 0 transparent;
    border: none;
    height: 43px;
    width: 160px;
}


#cc_widget_dialog_cancel_button {
	float:  right;
	margin-right: none;
}

#cc_widget, #cc_widget div, #cc_widget h1, #cc_widget h2, #cc_widget h3, #cc_widget p, #cc_widget a {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 13px;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
	position: relative;
	color: #fff;
}

#cc_widget {
	background: #272;
	background: -webkit-gradient(linear, left top, left bottom, from(#393), to(#272)) no-repeat;
	background: -moz-linear-gradient(top, #393, #272) no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	text-align: center;
}

.cc_widget_size_normal {
	width: 250px;
}

.cc_widget_size_thin {
	width: 115px;
}

#cc_widget_widget_title {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h1#cc_widget_widget_title {
	background: url('http://creativecommons.org/images/widget/widget-logo-big.png') 0 -3px no-repeat;
	width: 182px;
	height: 62px;
	margin: 0 auto;
}

.cc_widget_size_thin h1#cc_widget_widget_title {
	background: url('http://creativecommons.org/images/widget/widget-logo-small.png') 0 -5px no-repeat;
	width:  105px;
	height: 42px;
}

#cc_widget_widget_title span {
	 display: none;
}

p#cc_widget_widget_text {
	border-top: 1px solid rgba(255, 255, 255, 0.33);
	border-bottom: 1px solid rgba(255, 255, 255, 0.33);
	padding: 0.5em 0;
	margin-bottom: 0.5em;
}

input#cc_widget_donation_amount {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.33);
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2px;
	font-size: 110%;
	font-weight: bold;
	width: 7ex;
}

input#cc_widget_donation_donate {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.33);
	background-color: rgba(190, 190, 255, 0.75);
	font-size: 110%;
	padding: 2px 5px;
	margin-left: 10px;
	margin-bottom: 7px;
}

input#cc_widget_donation_donate:hover {
	background-color: rgba(222, 222, 255, 0.75);
}

input#cc_widget_donation_donate:active {
	background-color: rgba(255, 255, 255, 0.75);
}


#cc_widget_share {
	text-align: right;
}
#cc_widget_share a {
	font-size: 90%;
}
