python_env/bin
python_env/build
python_env/include
python_env/lib
!python_env/bin/ccengine.fcgi.in
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
sitemap.*
wp-config-local.php
