[submodule "docroot/wordpress"]
	path = docroot/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "docroot/legalcode"]
	path = docroot/legalcode
	url = https://github.com/creativecommons/legalcode.git
[submodule "docroot/includes/i18n"]
	path = docroot/includes/i18n
	url = https://github.com/creativecommons/svn-i18n
[submodule "python_env/src/i18n"]
	path = python_env/src/i18n
	url = https://github.com/creativecommons/i18n
	branch = master
[submodule "python_env/src/license.rdf"]
	path = python_env/src/license.rdf
	url = https://github.com/creativecommons/license.rdf
	branch = master
[submodule "python_env/src/cc.license"]
	path = python_env/src/cc.license
	url = https://github.com/creativecommons/cc.license
	branch = master
