# -*- mode: gitignore; -*-
# symantic web symlinks
docroot/rdf
docroot/license_rdf
docroot/license.rdf
docroot/cc.licenserdf

# repositories
python_env/src/

# python environment
python_env/paste_errors.log
python_env/local
python_env/lib
python_env/include
python_env/build
python_env/bin
python_env/.Python
!python_env/bin/ccengine.fcgi.in

# vim
*.swp
