# pipenv alone does not setup the License Engine. See scripts/setup_engine.sh
# and README.md
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
    [packages."cc.engine"]
        editable = true
        path = "python_src/cc.engine"
    [packages."cc.i18n"]
        editable = true
        path = "python_src/cc.i18n"
    [packages."cc.license"]
        editable = true
        path = "python_src/cc.license"
    [packages."cc.licenserdf"]
        editable = true
        path = "python_src/cc.licenserdf"
    [packages.future]
    [packages.rdfadict]
        editable = true
        path = "python_src/rdfadict"

[requires]
python_version = "2.7"
