#campaign-hint, #campaign-matching {
		text-align: center;
		margin: 5px auto;
		background-color: #103859;
		color: #fff;
		padding: 3px 0 5px 0;
		max-width: 640px;
		font-size: 90%;
}

#campaign-matching {
		background-color: #104364;
}

#campaign-matching a, #campaign-hint a {
		color: #fff;
		text-decoration: underline;
}
#campaign-matching a:hover, #campaign-hint a:hover {
		text-decoration: none;
}

/* PROGRESS METER */
    #campaign {
background-color: #103f5e; 
height: 49px;
max-width: 640px;
padding-top: 5px;
margin: 5px auto;
margin-bottom: 10px;
text-align: center;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;
}

#campaign.wide { margin: 0; padding: 5px 35%; height: 25px; position: relative; }

#campaign title {

margin-top: 2px;
}

#campaign .title a {
color: #fff;
}

#campaign .progress {
position: relative;
cursor:pointer; 
margin: 2px auto 3px auto;
width: 50%; 
height: 20px;
padding: 0 1%; 
background-color: #fff;   
}

#campaign .progress span {
display: block;
position: absolute;
top: 1px;
left: 1px;
height: 18px;
margin: 0; 
background-color: #a3aaa3;
background: url('/images/support/progress.png');
}

#campaign .results {
font-size: 0.9em;
/*position: absolute;
top: 1px;
left: 16px;*/
margin: 0 auto;
/*
float: left; 
margin-top: 2px; 
margin-left: 7px;
*/
}

#campaign .results a {
	/*color: #131313;*/
	color: #fff;
}

#sidebar #campaign {
 /* background-color: transparent !important;
 */ padding: 1px;
  text-align: left;
  height: auto;
  position: relative;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottom-left: 3px;
  -webkit-border-radius-bottom-right: 3px;
}

#sidebar #campaign .progress {
  margin-left: 0;
  margin-top: 0;
  width: 98%;
}

#sidebar #campaign .results {
  /*position: absolute;
  font-size: 1em;
  top: 3px;
  left: 8%;
*/
	text-align: center;
}

#sidebar #campaign .results a {
  color: #fff;
}

#campaign.wide .results { position: absolute; top: 7px; left: 38%; }
#campaign.wide .results a { color: #131313; }





#donormap {
	margin-top: 20px;
/*	border: 1px solid #aaa;*/
}
#donormap iframe { 
  margin: 0;
/*	width:100%;
	height: 300px;*/
  width:84.5%;
  height: 230px;
	float: left;
}
#donormap #mapinfo {
  float: left;
  width: 15.5%;
  background-color: #262f26;
  color: #fff;
  height: 230px;
  font-size: 0.9em;
}

#donormap #mapinfo h5 {
  margin-top: 0.5em;
  font-size: 105%;
}
#donormap #mapinfo p, #donormap #mapinfo h5 {
  padding: 0 0.5em;
}

#donormap #mapinfo small {
  font-size: 0.8em;
  color: #767f76;
}
#donormap #mapinfo a {
  color: #767f76;
  text-decoration: underline;
}

#donormap #mapinfo a:hover { text-decoration:none; }

#gmaptest p {
	font-size: 200%;
	font-weight: bold;
	color: #333;
	padding: 50px 0 20px 0;
	margin: 0 50px;
	border-bottom: 1px solid #333;
}

.shome {
	float: left;
	width: 30%;
	border-right: 1px solid #ddd;
	padding: 1% 1% 1% 1.7%;
}
.first { padding-left: 0; }
.last { border: none; padding-right: 0 !important; }
.index-last { border-right: none; border-left: 1px solid #ddd; padding-right: 0 !important; }
.thermo { border: none; }
.twocol { border: none !important; }
.smallpad { padding-bottom: 15px !important; padding-right: 0 !important; margin-right: 0 !important;}

.shome h2 {
	margin-top: 0;
	margin-bottom: 7px;
	font-family: verdana, sans-serif;
	font-size: 180%;
}

.shome img.f {
	display: block;
	/*height: 100px;*/
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
.shome img + h2 {
	color: #0f0 !important;
}

.shome ul {
	list-style: none !important;
	padding: 0; margin:0;
	width: 100%;
}

.shome ul li { width: 100%; font-size: 95%; list-style: none !important; }


