{% extends "macros_templates/engine.html" %}

{% block title %}{{ cctrans(locale, "util.Creative_Commons") }}{% endblock %}

{% block page_header_title %}
  Sorry...
{% endblock %}

{% block body %}
  <div class="container_16">
    <div class="grid_16">
      <p>The page you were looking for was not found.<br/>&nbsp;</p>

      <h4>Other Content</h4>
      <ul class="archives">
        <li><a href="http://creativecommons.org">Home</a></li>
        <li><a href="http://creativecommons.org/weblog/">Blog</a></li>
        <li><a href="https://creativecommons.net/donate/">Donate</a></li>
        <li><a href="http://wiki.creativecommons.org">Wiki</a></li>
        <li><a href="http://search.creativecommons.org">Search</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
