{% extends "macros_templates/engine.html" %}

{% block title %}{{ cctrans(locale, "util.Creative_Commons")|safe }}{% endblock %}

{% block page_header_title %}
  Sorry...
{% endblock %}

{% block body %}
  <div class="container_16">
    <div class="grid_16">
      <p>The page you were looking for was not found.<br/>&nbsp;</p>

      <h4>Were you looking for:</h4>

      <ul class="archives" id="suggested_licenses">
        {% for license in license_versions %}
          <li>
            <a href="{{ license.uri }}">
              <b>{{ license.title(target_lang) }}</b>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% include "includes/other_content.html" %}
    </div>
  </div>
{% endblock body %}
