{% extends "macros_templates/engine.html" %}

{% block title %}About The Licenses - Creative Commons{% endblock title %}

{% block page_header_title %}About The Licenses{% endblock page_header_title %}

{% block body %}
{# maybe include an extra div around all this? #}
  <div class="container_16">
    <div class="grid_12">
      <h2>
        {{ cctrans(locale, "license.index.what_licenses_do.title")|safe }}
      </h2>
      <div>
        {{ cctrans(locale, "license.index.what_licenses_do.body")|safe }}
      </div>
    </div>

    <div class="grid_4">
      <video width="230" height="210" controls>
        <source src="http://mirrors.creativecommons.org/movingimages/webm/WannaWorkTogether_360p.webm" type="video/webm" />
        <source src="http://blip.tv/file/get/Commonscreative-WannaWorkTogether958.mov" type="video/mp4" />
        <embed src="http://blip.tv/play/gpxSkdkzAg" type="application/x-shockwave-flash" width="230" height="210" allowscriptaccess="always" allowfullscreen="true"></embed>
      </video>
    </div>
  </div>

  <div class="container_16">
    <h2 class="grid_16">
      {{ cctrans(locale, "license.index.design_rationale.title")|safe }}
    </h2>
    <div class="grid_8">
      <p>
        {{ cctrans(locale, "license.index.design_rationale.body1")|safe }}
      </p>

      <p>
        {{ cctrans(locale, "license.index.design_rationale.body2")|safe }}
      </p>
    </div>
    <div class="grid_8">
      <p>
        {{ cctrans(locale, "license.index.design_rationale.body3")|safe }}
      </p>

      <p>
        {{ cctrans(locale, "license.index.design_rationale.body4")|safe }}
      </p>
    </div>
  </div>
  <div class="alt" id="layers">
    <div class="container_16">
      <h2 class="grid_16">
        {{ cctrans(locale, "license.index.three_layers.title")|safe }}
      </h2>
      <div class="grid_5">
        <img src="/images/license-layers.png" alt="Three Layers of Licenses"/>
      </div>
      <div class="grid_11">
        <p>
          {{ cctrans(locale, "license.index.three_layers.body1")|safe }}
        </p>

        <p>
          {{ cctrans(locale, "license.index.three_layers.body2")|safe }}
        </p>

        <p>
          {{ cctrans(locale, "license.index.three_layers.body3")|safe }}
        </p>

        <p>
          {{ cctrans(locale, "license.index.three_layers.body4")|safe }}
        </p>

        <p>
          {{ cctrans(locale, "license.index.three_layers.body5")|safe }}
        </p>
      </div>
    </div>
  </div>

  <div class="container_16" id="licenses">
    <h2 class="grid_16">
      {{ cctrans(locale, "license.index.the_licenses.title")|safe }}
    </h2>
    <ul>
      <li class="grid_8">
        <div class="grid_2 alpha" style="text-align:right;">
          <img src="http://i.creativecommons.org/l/by/3.0/88x31.png" alt="" width="88" height="31" />
        </div>
        <div class="grid_5 omega">
          <p>
            <strong>
              {{ cctrans(locale, "licenses.pretty_by")|safe }}
              <br/>CC BY</strong>
          </p>

          <p>
            {{ cctrans(locale, "licenses.description.by")|safe }}
          </p>

          <p>
            <span style="color: #000000;">
              <a href="http://creativecommons.org/licenses/by/3.0">
                {{ cctrans(locale, "util.View_License_Deed")|safe }}</a>
              | <a href="http://creativecommons.org/licenses/by/3.0/legalcode">
                {{ cctrans(locale, "util.View_Legal_Code")|safe }}</a>
            </span>
          </p>
        </div>
      </li>

      <li class="grid_8">
        <div class="grid_2 alpha" style="text-align:right;">
          <img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"
               alt="" width="88" height="31" />
        </div>
        <div class="grid_5 omega">
          <p>
            <strong>
              {{ cctrans(locale, "licenses.pretty_by-sa")|safe }}
              <br/>
              CC BY-SA
            </strong>
          </p>

          <p>
            {{ cctrans(locale, "license.description.by-sa")|safe }}
          </p>

          <p>
            <span style="color: #000000;">
              <a href="http://creativecommons.org/licenses/by-sa/3.0">
                {{ cctrans(locale, "util.View_License_Deed")|safe }}</a>
              | <a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">
                {{ cctrans(locale, "util.View_Legal_Code")|safe }}</a>
            </span>
          </p>
        </div>
      </li>
      <li class="grid_8">
        <div class="grid_2 alpha" style="text-align:right;">
          <img src="http://i.creativecommons.org/l/by-nd/3.0/88x31.png" alt="" width="88" height="31" />
        </div>
        <div class="grid_5 omega">
          <p>
            <strong>
              {{ cctrans(locale, "licenses.pretty_by-nd")|safe }}
              <br/>
              CC BY-ND
            </strong>
          </p>

          <p>
            {{ cctrans(locale, "license.description.by-nd")|safe }}
          </p>

          <p>
            <span style="color: #000000;">
              <a href="http://creativecommons.org/licenses/by-nd/3.0">
                {{ cctrans(locale, "util.View_License_Deed")|safe }}</a>
              | <a href="http://creativecommons.org/licenses/by-nd/3.0/legalcode">
                {{ cctrans(locale, "util.View_Legal_Code")|safe }}</a>
            </span>
          </p>
        </div>
      </li>
      <li class="grid_8">
        <div class="grid_2 alpha" style="text-align:right;">
          <img src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" alt="" width="88" height="31" />
        </div>
        <div class="grid_5 omega">
          <p>
            <strong>
              {{ cctrans(locale, "licenses.pretty_by-nc")|safe }}
              <br/>
              CC BY-NC
            </strong>
          </p>

          <p>
            {{ cctrans(locale, "license.description.by-nc")|safe }}
          </p>

          <p>
            <span style="color: #000000;">
              <a href="http://creativecommons.org/licenses/by-nc/3.0">
                {{ cctrans(locale, "util.View_License_Deed")|safe }}</a>
              | <a href="http://creativecommons.org/licenses/by-nc/3.0/legalcode">
                {{ cctrans(locale, "util.View_Legal_Code")|safe }}</a>
            </span>
          </p>
        </div>
      </li>
      <li class="grid_8">
        <div class="grid_2 alpha" style="text-align:right;">
          <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="" width="88" height="31" />
        </div>
        <div class="grid_5 omega">
          <p>
            <strong>
              {{ cctrans(locale, "licenses.pretty_by-nc-sa")|safe }}
              <br/>
              CC BY-NC-SA
            </strong>
          </p>

          <p>
            {{ cctrans(locale, "license.description.by-nc-sa")|safe }}
          </p>

          <p>
            <span style="color: #000000;">
              <a href="http://creativecommons.org/licenses/by-nc-sa/3.0">
                {{ cctrans(locale, "util.View_License_Deed")|safe }}</a>
              | <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode">
                {{ cctrans(locale, "util.View_Legal_Code")|safe }}</a>
            </span>
          </p>
        </div>
      </li>
      <li class="grid_8">
        <div class="grid_2 alpha" style="text-align:right;">
          <img src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" alt="" width="88" height="31" />
        </div>
        <div class="grid_5 omega">
          <p>
            <strong>
              {{ cctrans(locale, "licenses.pretty_by-nc-nd")|safe }}
              <br/>
              CC BY-NC-ND
            </strong>
          </p>

          <p>
            {{ cctrans(locale, "license.description.by-nc-nd")|safe }}
          </p>

          <p>
            <span style="color: #000000;">
              <a href="http://creativecommons.org/licenses/by-nc-nd/3.0">
                {{ cctrans(locale, "util.View_License_Deed")|safe }}</a>
              | <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/legalcode">
                {{ cctrans(locale, "util.View_Legal_Code")|safe }}</a>
            </span>
          </p>
        </div>
      </li>
    </ul>
    <div class="grid_12">
      <p>
        {{ cctrans(locale, "license.about_our_publicdomain_tools")|safe }}
      </p>
    </div>
  </div>

  <div class="container_16">
    {% include "includes/engine_languages.html" %}
  </div>
{% endblock body %}
