{% extends "macros_templates/engine.html" %}

{% block title %}
  {{ cctrans(locale, "util.public_domain_certification")|safe }}
{% endblock title %}

{% block headers %}
  <link rel="stylesheet" type="text/css"
        href="{{ request.staticdirect('/includes/zero.css') }}" />
{% endblock headers %}

{% block scripts %}
  <script type="text/javascript">
    function continue_toggler() {
        submit_button = $('#details-submit');
        if ($('#confirm_understand').is(':checked')) {
            submit_button.removeAttr('disabled');
            submit_button.removeClass('disabled');
        } else {
            submit_button.attr('disabled', 'disabled');
            submit_button.addClass('disabled');
        }
    }

    $('#confirm_understand').click(continue_toggler);
  </script>
{% endblock %}

{% block page_header_title %}
  {{ cctrans(locale, "license.pd.confirm_title")|safe }}
{% endblock %}

{% block body %}
  <div>
    <div class="bd">
      <form id="form-details" class="form-stacked" action="./publicdomain-4">
        <div class="licensebox" style="clear:both;">
          <h4>
            {{ cctrans(locale, "deed.pd.title_plain")|safe }}
          </h4>

          {{ cctrans(locale, "deed.pd")|safe }}
        </div>

        {% if request_form.get('lang', False) %}
          <input type="hidden" name="lang"
                 value="{{ request_form.get('lang','') }}" />
        {% endif %}

        <div class="form-row">
          <div class="form-question">
            <input name="understand" type="checkbox"
                   id="confirm_understand" class="form-field"
                   value="confirm" />
          </div>
          <div class="form-answer">
            <label for="understand">
              {{ cctrans(locale, "license.pdc.confirm_reading")|safe }}
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-question">&nbsp;</div>
          <div class="form-answer">
            <input type="submit" id="details-submit" disabled="" class="btn"
    	           name="field1" value="{{ cctrans(locale, 'util.continue')|safe }}" /> 
          </div>
        </div>

        <input type="hidden" name="title"
               value="{{ request_form['title'] }}" />
        <input type="hidden" name="copyright_holder"
               value="{{ request_form['copyright_holder'] }}" />
      </form>
    </div>
  </div>
{% endblock body %}
