{% extends "macros_templates/engine.html" %}

{% block title %}
  {{ cctrans(locale, "util.public_domain_certification")|safe }}
{% endblock title %}

{% block headers %}
  <link rel="stylesheet" type="text/css"
        href="http://yui.yahooapis.com/2.6.0/build/button/assets/skins/sam/button.css">

  <script type="text/javascript"
          src="http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js">
  </script>
  <script type="text/javascript"
          src="http://yui.yahooapis.com/2.6.0/build/button/button-min.js">
  </script>

  <link rel="stylesheet" type="text/css"
        href="{{ request.staticdirect('/includes/zero.css') }}" />

  <script type="text/javascript"
          src="{{ request.staticdirect('/includes/help.js') }}" >
  </script>

  <script type="text/javascript">

YAHOO.namespace("cc.pdc");

YAHOO.cc.pdc.on_click = function(event) {

    YAHOO.util.Dom.get("details-submit").disabled = !(
        YAHOO.util.Dom.get("confirm_understand").checked);

} // on_click

YAHOO.util.Event.onDOMReady(function() {

    // connect event handlers for the check box
    YAHOO.util.Event.addListener("confirm_understand", "click", 
                                 YAHOO.cc.pdc.on_click);

});
  </script>
{% endblock headers %}

{% block page_header_title %}
  {{ cctrans(locale, "license.pd.confirm_title")|safe }}
{% endblock %}

{% block body %}
  <div class="yui-module">
    <div class="bd">
      <form id="form-details" action="./publicdomain-4">
        <div class="licensebox" style="clear:both;">
          <h4>
            {{ cctrans(locale, "deed.pd.title_plain")|safe }}
          </h4>

          {{ cctrans(locale, "deed.pd")|safe }}
        </div>

        {% if request_form.get('lang', False) %}
          <input type="hidden" name="lang"
                 value="{{ request_form.get('lang','') }}" />
        {% endif %}

        <div class="form-row">
          <div class="form-question">
            <input name="understand" type="checkbox"
                   id="confirm_understand" class="form-field"
                   value="confirm" />
          </div>
          <div class="form-answer">
            <label for="understand">
              {{ cctrans(locale, "license.pdc.confirm_reading")|safe }}
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-question">&nbsp;</div>
          <div class="form-answer">
            <input type="submit" id="details-submit" disabled=""
    	           name="field1" value="{{ cctrans(locale, 'util.continue')|safe }}" /> 
          </div>
        </div>

        <input type="hidden" name="title"
               value="{{ request_form['title'] }}" />
        <input type="hidden" name="copyright_holder"
               value="{{ request_form['copyright_holder'] }}" />
      </form>
    </div>
  </div>
{% endblock body %}
