{% extends "macros_templates/engine.html" %}

{% block title %}
  {{ cctrans(locale, "util.public_domain_certification") }}
{% endblock title %}

{% block page_header_title %}
  {{ cctrans(locale, "license.pd.identify_a_pd_work") }}
{% endblock %}

{% block body %}
  <p>
    {{ cctrans(locale, "license.mark_pd") }}
  </p>

  <div>
    {{ cctrans(locale, "license.mark_web") }}
    <br /><br />
    
    <div class="textbox">
      <div align="center">
        <form action="">
          <textarea cols="30" rows="8" name="html" 
                    style="width:90%;height:150px;">{{ license_html }}</textarea>
          
          <p>
            <input type="button"
                   onclick="form.html.focus();form.html.select()"
                   value="{{ cctrans(locale, 'util.Highlight_Text') }}"
                   name="grab" /> 
            [<a href="work-html-popup?licensecode=pd&pd=true" 
                onclick="window.open('work-html-popup?licensecode=pd&pd=true', 'html_help', 'width=400,height=350,scrollbars=yes,resizable=yes,toolbar=no,directories=no,location=yes,menubar=no,status=yes');return false;"
                >{{ cctrans(locale, "license.get_html_email") }}</a>]
          </p>
          
        </form>
      </div>
    </div>
  </div>

  <p>
    {{ cctrans(locale, "license.pd.to_mark_nonweb",
               url_vars="pd=1&field_creator=%s&field_worktitle=%s" % (request_form.get('copyright_holder', ''), request_form.get('title', ''))) }}
  </p>
{% endblock %}
