div.more-metadata div, .column, .columns {
    float: right;
}
.column.omega, .columns.omega {
    margin-left: 0;
    margin-right: 10px;
}
.column.alpha, .columns.alpha {
    margin-left: 10px;
    margin-right: 0;
}
#license_layers {
    padding-left: 0;
    padding-right: 81px;
}
.licensebox {
    text-align: center;
}
.licensebox a {
    direction: ltr;
}
#chooser_form {
    text-align: right;
}
#chooser_form .help_highlight h4 {
    margin-left: 0;
    margin-right: 2em;
}
#chooser_form .help_highlight ul {
    margin-left: 0;
    margin-right: 0em;
}
#chooser_form .help_highlight .metatable label {
    float: left;
    text-align: left;
}
#chooser_form #metadata .metatable > span:first-of-type {
    margin: 0;
    padding: 0 37px 0 0;
}
.require_js #metadata .help_highlight:hover .help_button {
    left: auto;
    right: 13px;
}
#chooserDonate div {
    float: left;
    margin-left: 0em;
    margin-right: 2em;
}
#chooser_form label {
	color: #404040;
	text-align: left;
	width: 130px;
			}
#chooser_form textarea {
	text-align: left;
}
#freedoms .subtitle {
    margin-bottom: 1em;
    text-align: right;
}
#chooser_form h4 {
    line-height: 2.5em;
    text-align: right;
}
#chooser_form .help_highlight ul {
    margin-left: 0;
    margin-right: 4em;
    text-align: right;
}
#chooser_form #freedoms .ui_box {
    text-align: right;
}
#chooser_form #metadata {
    text-align: right;
}
footer .container .five.columns {
    width: 280px;
}
footer div.more-metadata div, .column, .columns {
    float: left;
}
#colophon .bucket {
    direction: ltr;
    margin-left: 10px;
    text-align: left;
}
.container .offset-by-six {
    float:right;
}
.yui-skin-sam .container-close {
    left: 6px;
    right: auto;
}
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

div.more-metadata div, .column, .columns {
    float: right;
    direction:rtl;
    font-family: 'Droid Arabic Naskh', sans-serif;
    line-height:25px;
}
.column.omega, .columns.omega {
    margin-left: 0;
    margin-right: 10px;
}
.column.alpha, .columns.alpha {
    margin-left: 10px;
    margin-right: 0;
}
#license_layers {
    padding-left: 0;
    padding-right: 81px;
}
.licensebox {
    text-align: center;
}
.licensebox a {
    direction: ltr;
}
#chooser_form {
    text-align: right;
}
#chooser_form .help_highlight h4 {
    margin-left: 0;
    margin-right: 2em;
}
#chooser_form .help_highlight ul {
    margin-left: 0;
    margin-right: 0em;
}
#chooser_form .help_highlight .metatable label {
    float: left;
    text-align: left;
}
#chooser_form #metadata .metatable > span:first-of-type {
    margin: 0;
    padding: 0 37px 0 0;
}
.require_js #metadata .help_highlight:hover .help_button {
    left: auto;
    right: 13px;
}
#chooserDonate div {
    float: left;
    margin-left: 0em;
    margin-right: 2em;
}

#chooserDonate a {
    text-align: left;
    width:100%;
    display: block;
    
}

#chooser_form label {
	color: #404040;
	text-align: left;
	width: 130px;
			}
#chooser_form textarea {
	text-align: left;
}
#freedoms .subtitle {
    margin-bottom: 1em;
    text-align: right;
}
#chooser_form h4 {
    line-height: 30px !important;
    text-align: right;
}
#chooser_form .help_highlight ul {
    margin-left: 0;
    margin-right: 4em;
    text-align: right;
}
#chooser_form #freedoms .ui_box {
    text-align: right;
}
#chooser_form #metadata {
    text-align: right;
}

#metadata .help_highlight {
    margin-bottom:2px !important;
}

footer .container .five.columns {
    width: 280px;
}
footer div.more-metadata div, .column, .columns {
    float: left;
}
#colophon .bucket {
    direction: ltr;
    margin-left: 10px;
    text-align: left;
}
.container .offset-by-six {
    float:right;
}
.yui-skin-sam .container-close {
    left: 6px;
    right: auto;
}

.form-answer label {
    text-align:right;
    direction: rtl;
    font-family: 'Droid Arabic Naskh', sans-serif;
    line-height:25px;
}

.form-question {
    padding: 8px 0 0;
    line-height:25px;
}

.ui_box {
    line-height: 18px;
    
}

.columns, .permoptions , .statement {
    direction:rtl;
    text-align: right; 
    float:right;
}

#engines {
    width:100%;
    
}

#engines p, .engine {
    text-align: right !important;
    padding: 6px 6px 6px 0 !important;
}
