{% extends "macros_templates/popup.html" %}

{% block title %}Email Information{% endblock %}

{% block body %}
  <p>
    {% trans email=request_form['to_email'] %}<p>
The information concerning your choice has been emailed to you at <strong>{{ email }}</strong>.
</p>

<p>Place the link or the HTML on your website, right next to the work you intend to license.  </p>{% endtrans %}
  </p>

  <div align="center">
    <a href="javascript:window.close();">{% trans %}Close window{% endtrans %}</a>
  </div>
{% endblock %}
