{% extends "macros_templates/deed.html" %}

{% block page_top %}
  <!-- RDF code here for backwards compatibility.  Please use the
       license's RDFa instead. -->
  <!-- {{ license.rdf|safe }} -->
{% endblock %}

{% block license_name %}
  <span property="dc:title"
        style="display: inline;">{{ license_title }}</span>
{% endblock %}

{% block body %}
  <div id="deed-rights"
       dir="{{ get_ltr_rtl}}" style="{{ is_rtl_align }}">

    <div id="deed-newer" style="text-align:center">
      <h3>{% trans %}Creative Commons has <a href="http://creativecommons.org/retiredlicenses">retired this legal tool</a> and does not recommend that it be applied to works.{% endtrans %}</h3>
    </div>

    <h3 rel="cc:permits"
        resource="http://creativecommons.org/ns#Reproduction">{% trans %}You are free:{% endtrans %}</h3>

    <ul class="license-properties">
      <li class="license share" rel="cc:permits"
          resource="http://creativecommons.org/ns#Distribution">
        {% trans %}<strong>to Share</strong> — to copy, distribute and transmit the work{% endtrans %}
      </li>

      <li class="license remix" rel="cc:permits"
          resource="http://creativecommons.org/ns#DerivativeWorks">
        {% trans %}<strong>to Remix</strong> — to adapt the work{% endtrans %}
      </li>
    </ul>

  </div>

  <div id="deed-conditions">
    <h3>{% trans %}Under the following conditions:{% endtrans %}</h3>
    <ul class="license-properties"
        dir="{{ get_ltr_rtl}}" style="{{ is_rtl_align }}">

      <li class="license devnations"><strong>Developing Nations</strong>.
        You may exercise the above freedoms in developing
        nations only.
      </li>

      <li rel="cc:requires"
          resource="http://creativecommons.org/ns#Attribution"
          class="license by">
        <p>
          <strong>{% trans %}Attribution{% endtrans %}</strong>.
          <span>
            {% trans %}You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).{% endtrans %}
          </span>
        </p>
      </li>

        <li>{% trans %}For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.{% endtrans %}</li>
        <li>{% trans %}Any of the above conditions can be <a href="#" id="waived" class="helpLink">waived</a> if you get permission from the copyright holder.{% endtrans %}</li>

      <li>
        In no way are any of the following rights affected by
        the above:

        <ul>
          <li>
            {% trans %}Your fair dealing or <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_fair_use.2C_fair_dealing_or_other_exceptions_to_copyright.3F" id="fair_use" class="helpLink">fair use</a> rights, or other applicable copyright exceptions and limitations;{% endtrans %}
          </li>
          <li>
            {% trans %}Rights other persons may have either in the work itself or in how the work is used, such as <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F" class="helpLink" id="publicity_rights">publicity</a> or privacy rights.{% endtrans %}
          </li>
        </ul>
      </li>

    </ul>
  </div>
{% endblock %}
