{% extends "macros_templates/pdtool_deed.html" %}

{% block page_top %}
  <!-- RDF code here for backwards compatibility.  Please use the
       license's RDFa instead. -->
  <!-- {{ license.rdf|safe }} -->
{% endblock %}

{% block license_name -%}
  <span property="dc:title dct:title" style="display: inline;">{{ license_title }}</span>
{%- endblock %}

{% block body %}
  <div id="deed-rights"
       dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
    <h3>{% trans %}No Copyright{% endtrans %}</h3>
    <ul class="license-properties" style="width: 550px;">
      <li class="license publicdomain">
        {% trans %}<p id="nolaw-text"> This work has been <b>identified</b> as being free of known restrictions under copyright law, including all related and neighboring rights. </p> <p> <br /> You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. See <b>Other Information</b> below. </p>{% endtrans %}
      </li>

      <li class="license" style="display:none" id="work-details-block">
        <div>
          <ul>
            <li class="license usage-guidelines" style="display:none;">
              <a href="#" id="usage_guidelines"
                 name="usage_guidelines">Non-binding use guidelines</a>
              apply to this work.
            </li>
            <li class="license nolaw" style="display:none;">
              The person who identified this public domain work has also
              waived any and all copyrights he or she may have in the
              work, including all related and neighboring rights, to the
              extent allowed by law.
              <a href="" class="helpLink" id="zero_help"
                 name="zero_help">
                <img src="http://creativecommons.org/images/information.png"
                     alt="Information" style="border: none; float:inherit;
                                              margin-bottom:-5px" /></a>

            </li>

            <li style="padding-bottom: 0.5em; display:none;" id="work-details-title"><strong>Work Details</strong></li>
            <li style="display:none">
              <span class="work-details-item-title">
                {% trans %}Work:{% endtrans %}
              </span>
              <span id="meta_title" class="work-details-item-value"></span>
            </li>
            <li style="display:none">
              <span class="work-details-item-title">{% trans %}Author:{% endtrans %}</span>
              <span id="meta_author" class="work-details-item-value"></span>
            </li>
            <li style="display:none">
              <span class="work-details-item-title">{% trans %}Identified by:{% endtrans %}</span>
              <span id="meta_curator" class="work-details-item-value"></span>
            </li>

            <li id="work-attribution-container" style="margin-top: 25px; display:none;">
              <strong>
                {% trans %}You can <a href="" class="helpLink" id="citation_help" name="citation_help">cite</a> this work with this HTML:{% endtrans %}
              </strong>
              <br />
              <input id="work-attribution" value="" />
            </li>

          </ul>
        </div>
      </li>

    </ul>
  </div>
  <div id="deed-understanding">
    <ul class="license-properties">
      <li class="license">
        <strong>{% trans %}Other Information{% endtrans %}</strong>
        <ul>
          <li>
            {% trans %}The work may not be free of known copyright restrictions in all <a href="" class="helpLink" id="all_jurisdictions" name="all_jurisdictions">jurisdictions</a>.{% endtrans %}
          </li>
          <li>
            {% trans %}Persons may have other rights in or related to the work, such as patent or trademark rights, and others may have rights in how the work is used, such as <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F" class="helpLink" id="publicity_rights" name="publicity_rights">publicity or privacy</a> rights.{% endtrans %}
          </li>
          <li>
            {% trans %}In some jurisdictions <a href="" class="helpLink" id="moral_rights" name="moral_rights">moral rights</a> of the author may persist beyond the term of copyright. These rights may include the right to be identified as the author and the right to object to derogatory treatments.{% endtrans %}
          </li>
          <li>
            {% trans %}Unless expressly stated otherwise, the person who identified the work makes no warranties about the work, and disclaims liability for all uses of the work, to the fullest extent permitted by applicable law.{% endtrans %}
          </li>
          <li>
            {% trans %}When using or citing the work, you should not imply <a href="" class="helpLink" id="endorsement" name="endorsement">endorsement</a> by the author or the person who identified the work.{% endtrans %}
          </li>
        </ul>
      </li>
    </ul>
    <!-- <div id="help_usage_guidelines">
         <div class="hd">
           Non-binding Usage Guidelines
         </div>
         <div class="bd">
           <p>
             <em>[Text to come]</em>
           </p>
         </div>
    </div> -->
    <div id="help_endorsement">
      <div class="hd">
        {% trans %}Endorsement{% endtrans %}
      </div>
      <div class="bd">
        <p>
          {% trans %}In some jurisdictions, wrongfully implying that an author, publisher or anyone else endorses your use of a work may be unlawful.{% endtrans %}
        </p>
        <p>
          <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_I_need_to_be_aware_of_anything_else_when_providing_attribution_or_credit.3F">{% trans %}Learn more{% endtrans %}</a>
        </p>
      </div>
    </div>

    <div id="help_citation_help">
      <div class="hd">
        {% trans %}Citation{% endtrans %}
      </div>
      <div class="bd">
        <p>
          {% trans %}Copy and paste the HTML provided into your webpage to easily cite this work.{% endtrans %}
        </p>
        <p>
          <a href="http://wiki.creativecommons.org/PDM_FAQ#Am_I_required_to_attribute_the_author_of_the_work.2C_or_the_person_who_applied_the_PDM_to_the_work.3F">{% trans %}Learn more{% endtrans %}</a>
        </p>
      </div>
    </div>

    <div id="help_moral_rights">
      <div class="hd">
        {% trans %}Moral Rights{% endtrans %}
      </div>
      <div class="bd">
        <p>
          {% trans %}Copyright laws in most jurisdictions around the world grant creators "moral rights" which may provide some redress if use of a work is considered "derogatory".{% endtrans %}
        </p>
        <p>
          <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#What_are_moral_rights.2C_and_how_could_I_exercise_them_to_prevent_uses_of_my_work_that_I_don.E2.80.99t_like.3F">{% trans %}Learn more{% endtrans %}</a>
        </p>
      </div>
    </div>
    <div id="help_publicity_rights">
      <div class="hd">
        {% trans %}Other Rights{% endtrans %}
      </div>
      <div class="bd">
        <p>
          {% trans %}The use of a work free of known copyright restrictions may be otherwise regulated or limited. The work or its use may be subject to personal data protection laws, publicity, image, or privacy rights that allow a person to control how their voice, image or likeness is used, or other restrictions or limitations under applicable law.{% endtrans %}
        </p>
        <p>
          <a href="http://wiki.creativecommons.org/PDM_FAQ#Are_there_other_laws_I_should_be_aware_of_that_might_restrict_my_ability_to_use_a_PDM-marked_work.3F">{% trans %}Learn more{% endtrans %}</a>
        </p>
      </div>
    </div>
    <div id="help_all_jurisdictions">
      <div class="hd">{% trans %}Term of Copyright{% endtrans %}</div>
      <div class="bd">
        <p>
          {% trans %}Copyright terms vary jurisdiction to jurisdiction. A work free of copyright restrictions in one jurisdiction may not be similarly free in other jurisdictions.{% endtrans %}
        </p>
        <p>
          <a href="http://wiki.creativecommons.org/PDM_FAQ#Why_might_a_free_of_copyright_restrictions_in_one_jurisdiction_not_be_free_of_copyright_restrictions_everywhere.3F">{% trans %}Learn more{% endtrans %}</a>
        </p>
      </div>
    </div>
  </div>
  <span id="referrer-metadata-container"></span>

  <span rel="cc:permits" resource="http://creativecommons.org/ns#Reproduction"></span>
  <span rel="cc:permits" resource="http://creativecommons.org/ns#DerivativeWorks"></span>
  <span rel="cc:permits" resource="http://creativecommons.org/ns#Distribution"></span>
{% endblock body %}

{% block footer %}
  <a href="" id="disclaimer"
     class="helpLink" name="disclaimer">{% trans %}Disclaimer{% endtrans %}</a>
  <div id="cc-link">
    <a rel="dc:creator dct:creator" href="http://creativecommons.org/">
      <span property="dc:title dct:title">{% trans %}Creative Commons{% endtrans %}</span>
    </a>
  </div>
  <div id="help_disclaimer" style="text-align:left" class="help_panel">
    <div class="hd">{% trans %}Disclaimer{% endtrans %}</div>
    <div class="bd">
      {% trans %}<p> The Public Domain Mark is not a legal instrument. </p> <p> Creative Commons is not a law firm and does not provide legal services or advice. Distributing, displaying, or linking to this Public Domain Mark does not create an attorney-client relationship. </p> <p> Creative Commons has not verified the copyright status of any work to which this mark has been applied. CC makes no warranties about any work or its copyright status in any jurisdiction, and disclaims all liability for all uses of any work. </p>{% endtrans %}
    </div>
  </div>
{% endblock footer %}

{% block use_this_license %}
  <a id="get_this" href="/publicdomain/"
     name="get_this">{% trans %}Use this tool to mark other public domain works.{% endtrans %}</a>
{% endblock use_this_license %}
