{% extends "macros_templates/deed.html" %}

{% block license_name %}
  <span property="dc:title"
        style="display: inline;">{{ license_title }}</span>
{% endblock %}

{% block body %}
  <div id="deed-rights"
       dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
    {% if license.deprecated %}
      <div id="deed-newer"
           style="text-align:center">
        <h3>
          {% trans %}Creative Commons has <a href="http://creativecommons.org/retiredlicenses">retired this legal tool</a> and does not recommend that it be applied to works.{% endtrans %}
        </h3>
      </div>
    {% endif %}

    <h3>{% trans %}You are free:{% endtrans %}</h3>
    <ul class="license-properties">
      {% if license.license_code == 'nc-sampling+' %}
        <li class="license samplingplus">
          {% trans %}To sample, mash-up, or otherwise creatively transform this work for noncommercial purposes.{% endtrans %}
        </li>
      {% else %}
        <li class="license sampling">
          {% trans %}To sample, mash-up, or otherwise creatively transform this work for commercial or noncommercial purposes.{% endtrans %}
        </li>
      {% endif %}

      {% if license.license_code in ('nc-sampling+', 'sampling+') %}
        <li class="license samplingplus">
          {% trans %}To perform, display, and distribute copies of this whole work for noncommercial purposes (e.g., file-sharing or noncommercial webcasting).{% endtrans %}
        </li>
      {% endif %}
    </ul>

  </div>
  <div id="deed-conditions">
    <h3>{% trans %}Under the following conditions:{% endtrans %}</h3>
    <ul class="license-properties"
        dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
      <li class="license by">
        {% trans %}You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).{% endtrans %}
      </li>
      {% if license.license_code == 'nc-sampling+' %}
        <li class="license nc">
          {% trans %}You may not use this work for commercial purposes.{% endtrans %}
        </li>
      {% else %}
        <li>
          {% trans %}You may not use this work to advertise for or promote anything but the work you create from it.{% endtrans %}
        </li>
      {% endif %}

      {% if license.license_code in ('nc-sampling+', 'sampling+') %}
        <li>
          {% trans %}For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.{% endtrans %}
        </li>
      {% else %}
        <li>
          {% trans %}For any reuse, you must make clear to others the license terms of this work.{% endtrans %}
        </li>
        <li>
          {% trans %}You may not perform, display, or distribute copies of this whole work for any purpose.{% endtrans %}
        </li>
      {% endif %}

      <li>
        In no way are any of the following rights affected by
        the above:

        <ul>
          <li>
            {% trans %}Your fair dealing or <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_fair_use.2C_fair_dealing_or_other_exceptions_to_copyright.3F" id="fair_use" class="helpLink">fair use</a> rights, or other applicable copyright exceptions and limitations;{% endtrans %}
          </li>
          <li>
            {% trans %}Rights other persons may have either in the work itself or in how the work is used, such as <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F" class="helpLink" id="publicity_rights">publicity</a> or privacy rights.{% endtrans %}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <span id="referrer-metadata-container" />
{% endblock %}
