{% extends "macros_templates/deed.html" %}

{% block title -%}
  Creative Commons &mdash; {{ license.title(target_lang) }}
  &mdash; CC {{license.license_code.upper() }} {{ license.version }}
{%- endblock %}

{% block page_top %}
  <!-- RDF code here for backwards compatibility.  Please use the
       license's RDFa instead. -->
  <!-- {{ license.rdf|safe }} -->
{% endblock %}

{% block license_name %}
  <span property="dc:title dct:title"
        style="display: inline;">{{ license_title }}</span>
  (<span property="dc:identifier dct:identifier" style="display: inline;">
    {{- license.license_code.upper() }} {{ license.version }}</span>)
{% endblock %}

{% block body %}
  {% if license.license_code in ('by', 'by-sa') %}
    <div id="libre">
      <a href="http://freedomdefined.org/">
        <img src="/images/deed/seal.png" style="border: 0"
             alt="{{ cctrans(locale, 'This license is acceptable for Free Cultural Works.')|safe }}" />
      </a>
    </div>
  {% endif %}

  <div id="deed-rights"
       dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
    {% if license.deprecated %}
      <div id="deed-newer" style="text-align:center">
        <h3>{{ cctrans(locale, "deed.retired")|safe }}</h3>
      </div>
    {% endif %}

    {% if license.jurisdiction.code not in ['', 'es'] %}
      <a href="/worldwide/{{ license.jurisdiction.code }}/">
        <img src="/images/international/{{ license.jurisdiction.code }}.png"
             alt="{{ license.jurisdiction.code }}"
             style="border: 1px solid #C0C0C0"/>
      </a>
    {% endif %}

    <h3 resource="http://creativecommons.org/ns#Reproduction"
        rel="cc:permits">{{ cctrans(locale, "deed.You_are_free")|safe }}</h3>
    <ul class="license-properties">
      <li class="license share"
          rel="cc:permits"
          resource="http://creativecommons.org/ns#Distribution">
        {{ cctrans(locale, "deed.free_copy_distribute")|safe }}
      </li>

      {% if not 'nd' in license.license_code %}
        <li class="license remix"
            rel="cc:permits"
            resource="http://creativecommons.org/ns#DerivativeWorks">
          {{ cctrans(locale, "deed.free_derivative")|safe }}
        </li>
      {% endif %}

      {% if "http://creativecommons.org/ns#CommercialUse" not in license.prohibits %}
        <li class="license commercial">
          {{ cctrans(locale, "deed.free_commercial")|safe }}
        </li>
      {% endif %}
      <li id="more-container"
          class="license-hidden">
        <span id="devnations-container" />
      </li>
    </ul>

  </div>
  <div id="deed-conditions">
    <h3>{{ cctrans(locale, "deed.under_conditions")|safe }}</h3>

    <ul dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}"
        class="license-properties">
      {% for attr in conditions %}
      <li rel="cc:requires"
          resource="http://creativecommons.org/ns#Attribution"
          class="license {{ attr.icon_name }}"
          rel="{{ attr.predicate }}" resource="{{ attr.object }}">
          <p>
            <strong>{{ attr.char_title|safe }}</strong> &mdash;
            {% if attr['char_code'] == 'by' %}
              <span id="attribution-container">
                {{ attr.char_brief|safe }}
              </span>
            {% else %}
              {{ attr.char_brief|safe }}
            {% endif %}
            <span id="{{ attr.icon_name }}-more-container" />
          </p>
  
          {% if attr['char_code'] == 'by' %}
            <p id="work-attribution-container" style="display:none;">
              <strong>
                {{ cctrans(locale, "deed.attribute_this_work")|safe }}
              </strong>
              <br/>
              <input id="work-attribution" value="" type="text"
                     readonly="readonly" onclick="this.select()"
                     onfocus="document.getElementById('work-attribution').select();"/>
              <input id="license-code" type="hidden"
                     value="CC {{ license.license_code.upper() }} {{ license.version }}" />
              <input id="license-url" type="hidden"
                     value="{{ license.uri }}" />
              <a href="" id="attribution_help" class="helpLink">
                <img src="{{ request.staticdirect('images/information.png') }}"
                     alt="{{ cctrans(locale, 'Information')|safe }}" />
              </a>
            </p>
  
            <div id="help_attribution_help" class="help_panel">
              <div class="hd">
                {{ cctrans(locale, 'What does "Attribute this work" mean?')|safe }}
              </div>
              <div class="bd">
                {{ cctrans(locale, "The page you came from contained embedded licensing metadata, including how the creator wishes to be attributed for re-use. You can use the HTML here to cite the work. Doing so will also include metadata on your page so that others can find the original work as well.")|safe }}
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="deed-understanding">
    <h3>
      {{ cctrans(locale, "deed.with_the_understanding")|safe }}
    </h3>

    <ul class="understanding license-properties">
      <li class="license">
        <strong>{{ cctrans(locale, "util.waiver")|safe }}</strong>
        &mdash;
        {{ cctrans(locale, "deed.permission")|safe }}
      </li>

      <li class="license">
        <strong>{{ cctrans(locale, "util.Public_Domain")|safe }}</strong>
        &mdash;
        {{ cctrans(locale, "deed.public_domain")|safe }}
      </li>

      <li class="license">
        <strong>{{ cctrans(locale, "util.other_rights")|safe }}</strong>
        &mdash;
        {{ cctrans(locale, "deed.other_rights")|safe }}

        <ul>
          <li>
            {{ cctrans(locale, "deed.fair_use")|safe }}
          </li>

          {% if license.license_code.find('nd') >= 0 or license.jurisdiction.code != 'us' %}
            <li>
              {{ cctrans(locale, "deed.moralrights")|safe }}
            </li>
          {% endif %}
          {% if license.jurisdiction.code == 'us' and license.license_code.find('nd') < 0 %}
            <li>
              {{ cctrans(locale, "deed.moralrights-remix.us")|safe }}
            </li>
          {% endif %}
          </span>

          <li>
            {{ cctrans(locale, "deed.publicity_rights")|safe }}
          </li>
        </ul>
      </li>

      <li rel="cc:requires"
          resource="http://creativecommons.org/ns#Notice">
        <strong>{{ cctrans(locale, "util.notice")|safe }}</strong>
        &mdash;
        {{ cctrans(locale, "deed.notice")|safe }}
      </li>
    </ul>

    {% if license.superseded %}
      <div id="deed-newer" tal:condition="">
        <p>
          {{ cctrans(locale, "deed.superseded",
                     current_version_url=license.current_version.url)|safe }}
        </p>
      </div>
    {% endif %}

    <div id="help_waived" class="help_panel">
      <div class="hd">
        {{ cctrans(locale, "deed.permission.help.title")|safe }}
      </div>
      <div class="bd">
        <p>
          {{ cctrans(locale, "deed.permission.help")|safe }}
        </p>
        <p>
          <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Can_I_change_the_terms_of_a_CC_license_or_waive_some_of_its_conditions.3F">{{ cctrans(locale, "util.learn_more")|safe }}</a>.
        </p>
      </div>
    </div>

    <div id="help_public_domain" class="help_panel">
      <div class="hd">
        {{ cctrans(locale, "deed.public_domain.help.title")|safe }}
      </div>
      <div class="bd">
        <p>
          {{ cctrans(locale, "deed.public_domain.help")|safe }}
        </p>

        <p>
          <a href="http://wiki.creativecommons.org/Public_domain"
             >{{ cctrans(locale, "util.learn_more")|safe }}</a>.</p>
      </div>

    </div>

    <div id="help_fair_use" class="help_panel">
      <div class="hd">
        {{ cctrans(locale, "deed.fair_use.help.title")|safe }}
      </div>
      <div class="bd">
        <p>
          {{ cctrans(locale, "deed.fair_use.help")|safe }}
        </p>

        <p>
          <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#Do_Creative_Commons_licenses_affect_fair_use.2C_fair_dealing_or_other_exceptions_to_copyright.3F">{{ cctrans(locale, "util.learn_more")|safe }}</a>.</p>
      </div>
    </div>

    <div id="help_moral_rights" class="help_panel">
      <div class="hd">
        {{ cctrans(locale, "deed.moralrights.help.title")|safe }}
      </div>
      <div class="bd">
        <p>
          {{ cctrans(locale, "deed.moralrights.help")|safe }}
        </p>

        <p>
          <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#I_don.E2.80.99t_like_the_way_a_person_has_used_my_work_in_a_derivative_work_or_included_it_in_a_collective_work.3B_what_can_I_do.3F">{{ cctrans(locale, "util.learn_more")|safe }}</a>.
        </p>

      </div>
    </div>

    <div id="help_publicity_rights" class="help_panel">
      <div class="hd">
        {{ cctrans(locale, "deed.publicity_rights.help.title")|safe }}
      </div>
      <div class="bd">
        <p>
          {{ cctrans(locale, "deed.publicity_rights.help")|safe }}
        </p>

        <p>
          <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions#When_are_publicity_rights_relevant.3F">{{ cctrans(locale, "util.learn_more")|safe }}</a>.
        </p>
      </div>
    </div>

  </div>
  <span id="referrer-metadata-container" />
{% endblock %}
