{% extends "macros_templates/deed.html" %}

{% block title -%}
  Creative Commons &mdash; {{ license.title(target_lang) }}
  &mdash; CC {{license.license_code.upper() }} {{ license.version }} {{ jurisdiction.upper() }}
{%- endblock %}

{% block page_top %}
  <!-- RDF code here for backwards compatibility.  Please use the
       license's RDFa instead. -->
  <!-- {{ license.rdf|safe }} -->
{% endblock %}

{% block license_name %}
  <span property="dc:title dct:title"
        style="display: inline;">{{ license_title }}</span>
  <span style="display: inline-block; font-size: 14px; padding-left: 2px;">
    (<span property="dc:identifier dct:identifier"
           style="display: inline; font-size: 12px;">CC {{ license.license_code.upper() }} {{ license.version }}
      {%- if jurisdiction %} {{ jurisdiction.upper() }}{% endif %}</span>)
  </span>
{% endblock %}

{% block body %}
  {% if license.license_code in ('by', 'by-sa') %}
    <div id="libre">
      <a href="http://freedomdefined.org/">
        <img src="/images/deed/seal.png" style="border: 0"
             alt="{% trans %}This license is acceptable for Free Cultural Works.{% endtrans %}" />
      </a>
    </div>
  {% endif %}

  <div id="deed-rights"
       dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
    {% if license.deprecated %}
      <div id="deed-newer" style="text-align:center">
        <h3>{% trans %}Creative Commons has <a href="http://creativecommons.org/retiredlicenses">retired this legal tool</a> and does not recommend that it be applied to works.{% endtrans %}</h3>
      </div>
    {% endif %}

    {% if license.jurisdiction.code not in ['', 'es'] %}
      <a href="/worldwide/{{ license.jurisdiction.code }}/">
        <img src="/images/international/{{ license.jurisdiction.code }}.png"
             alt="{{ license.jurisdiction.code }}"
             style="border: 1px solid #C0C0C0"/>
      </a>
    {% endif %}

    <h3 resource="http://creativecommons.org/ns#Reproduction"
        rel="cc:permits">{% trans %}You are free to:{% endtrans %}</h3>
    <ul class="license-properties">
      <li class="license share"
          rel="cc:permits"
          resource="http://creativecommons.org/ns#Distribution">
        {% trans %}<strong>Share</strong>  &mdash; You may copy and redistribute the material in any medium or format.{% endtrans %}
      </li>

      {% if not 'nd' in license.license_code %}
        <li class="license remix"
            rel="cc:permits"
            resource="http://creativecommons.org/ns#DerivativeWorks">
          {% trans %}<strong>Adapt</strong>  &mdash; You may remix, transform, or build upon the material.{% endtrans %}
        </li>
      {% endif %}

      {% if "http://creativecommons.org/ns#CommercialUse" not in license.prohibits %}
        <li class="license commercial">
          {% trans %}for any purpose, even commercially{% endtrans %}
        </li>
      {% else %}
        <li>
          {% trans %}for any noncommercial purpose{% endtrans %}
        </li>
      {% endif %}
      <li>
          {% trans %}These freedoms are granted to you permanently and cannot be revoked as long as you follow the terms of the license.{% endtrans %}
      </li>
      <li id="more-container"
          class="license-hidden">
        <span id="devnations-container" />
      </li>
    </ul>

  </div>
  <div id="deed-conditions">
    <h3>{% trans %}Under the following terms:{% endtrans %}</h3>

    <ul dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}"
        class="license-properties">
      {% if conditions['by'] %}
      <li class="license by"
          rel="cc:requires"
          resource="http://creativecommons.org/ns#Attribution">
          <p>
            <strong>Attribution</strong> &mdash; {% trans %}You must give attribution by providing <a href="#" id="certain_information_popup" class="helpLink">certain information</a> if supplied by the licensor for that purpose.  You must also provide a link to the license and <a href="#" id="indicate_changes_popup" class="helpLink">indicate if you changed the material</a>.  You may satisfy these requirements in any reasonable manner, but you do not have permission to suggest that the licensor or author endorses you or your use of the material when doing so.{% endtrans %}
            <span id="by-more-container"></span>
          </p>

          <p id="work-attribution-container" style="display:none;">
            <strong>
              {% trans %}Attribute this work:{% endtrans %}
            </strong>
            <br/>
            <input id="work-attribution" value="" type="text"
                   readonly="readonly" onclick="this.select()"
                   onfocus="document.getElementById('work-attribution').select();"/>
            <input id="license-code" type="hidden"
                   value="CC {{ license.license_code.upper() }} {{ license.version }}" />
            <input id="license-url" type="hidden"
                   value="{{ license.uri }}" />
            <a href="" id="attribution_help" class="helpLink">
              <img src="{{ request.staticdirect('images/information.png') }}"
                   alt="{% trans %}Information{% endtrans %}" />
            </a>
          </p>

          <div id="help_attribution_help" class="help_panel">
            <div class="hd">
              {% trans %}What does "Attribute this work" mean?{% endtrans %}
            </div>
            <div class="bd">
              {% trans %}The page you came from contained embedded licensing metadata, including how the creator wishes to be attributed for re-use. You can use the HTML here to cite the work. Doing so will also include metadata on your page so that others can find the original work as well.{% endtrans %}
            </div>
          </div>
        </li>
      {% endif %}
      {% if conditions['nc'] %}
      <li class="license nc"
          rel="cc:prohibits"
          resource="http://creativecommons.org/ns#CommercialUse">
          <p>
            <strong>Noncommercial</strong> &mdash; {% trans %}You may not use the material for <a href="#" id="commercial_purposes_popup" class="helpLink">commercial purposes</a>.{% endtrans %}
            <span id="nc-more-container"></span>
          </p>
      </li>
      {% endif %}
      {% if conditions['nd'] %}
      <li class="license nd">
          <p>
            <strong>No Derivative Works</strong> &mdash; {% trans %}You may not remix, transform, or build upon the material. However, <a href="#" id="some_kinds_of_mods_popup" class="helpLink">some kinds of modifications</a> are still permitted.{% endtrans %}
            <span id="nd-more-container"></span>
          </p>
      </li>
      {% endif %}
      {% if conditions['sa'] %}
      <li class="license sa"
          rel="cc:requires"
          resource="http://creativecommons.org/ns#ShareAlike">
          <p>
            <strong>Share Alike</strong> &mdash; {% trans %}If you remix, transform, or build upon the material, you must distribute your contributions under the <a href="#" id="same_license_popup" class="helpLink">same license</a> as the original.{% endtrans %}
            <span id="sa-more-container"></span>
          </p>
      </li>
      {% endif %}
    </ul>
  </div>

  <div id="deed-understanding">
    <h3>
      {% trans %}With the understanding that:{% endtrans %}
    </h3>

    <ul class="understanding license-properties">
      <li class="license">
        <strong>{% trans %}Other rights you have{% endtrans %}</strong> &mdash;
        {% trans %}The license does not take away or limit any other rights you have to use the material.{% endtrans %}
      </li>
      <li class="license">
        <strong>{% trans %}Public Domain{% endtrans %}</strong> &mdash;
        {% trans %}You do not have to comply with the license for material that is in the <a href="#" id="public_domain_popup" class="helpLink">public domain</a>.{% endtrans %}
      </li>
      <li class="license">
        <strong>{% trans %}Exceptions and limitations{% endtrans %}</strong> &mdash;
        {% trans %}You do not have to comply with the license where your use is permitted by fair dealing, fair use, or any other applicable <a href="#" id="exception_or_limitation_popup" class="helpLink">exception or limitation</a> to copyright or similar rights.{% endtrans %}
      </li>
      <li class="license">
        <strong>{% trans %}No additional terms or conditions{% endtrans %}</strong> &mdash;
        {% trans %}If you share the material with others, they have the same freedoms you received. You may not apply legal terms or <a href="#" id="technological_measures_popup" class="helpLink">technological measures</a> that would prevent them from doing anything the license permits.{% endtrans %}
      </li>
      <li class="license">
        <strong>{% trans %}No warranties{% endtrans %}</strong> &mdash;
        {% trans %}Unless expressly provided otherwise, the licensor makes no warranties about the material and disclaims liability to the fullest extent possible.{% endtrans %}
      </li>
      <li class="license">
        <strong>{% trans %}Important limitations{% endtrans %}</strong> &mdash;
        {% trans %}The license may not give you all of the permissions necessary for your intended use. <a href="#" id="others_may_have_rights_popup" class="helpLink">Others may have rights</a> that affect your ability to use the material, such as publicity, privacy, or moral rights.{% endtrans %}
      </li>
      <li class="license">
        <strong>{% trans %}Databases{% endtrans %}</strong> &mdash;
        {% trans %}If the material licensed is a database, <a href="#" id="additional_terms_database_popup" class="helpLink">additional terms may apply</a>.{% endtrans %}
      </li>
    </ul>

    {% if license.superseded %}
      <div id="deed-newer" tal:condition="">
        <p>
          {% trans current_version_url=license.current_version.uri %}A <a href="{{ current_version_url }}">new version</a> of this license is available. You should use it for new works, and you may want to relicense existing works under it. No works are <em>automatically</em> put under the new license, however.{% endtrans %}
        </p>
      </div>
    {% endif %}

    <div id="help_certain_information_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}Required information includes the name of the author and any others designated to receive attribution, copyright notice, notice of any supplied warranties or disclaimers, and a link to the licensed material. [link to license] If other attribution information is supplied, the license does not require you to retain it, but you are encouraged to do so where reasonable.{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_indicate_changes_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}In 3.0 and previous, this is only required if you are creating an adaptation. Though it is not required by the license, in general we recommend including information about the nature of the modifications wherever possible.{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_same_license_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}You may also use a license listed as compatible at [link]. The original CC license will always apply to the material contributed by the original licensor, but your separate license for the adapted material you contribute may be the same type of license or anything listed as compatible with it. {% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_commercial_purposes_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}“NonCommercial” is defined in the license as “not primarily intended for or directed towards commercial advantage or monetary compensation.” Additionally, digital file-sharing is considered noncommercial for the purposes of the license if no monetary payment takes place.{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_some_kinds_of_mods_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}You may make modifications to the work so long as they do not create an adaptation--that is, if you are not building upon the work with your own creative contributions. For example, technical modifications needed to convert the work into another format would be allowed, as this is not considered to be creating a derivative.{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_public_domain_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}A work is in the public domain when it is free for use by anyone, for any purpose, without restriction under copyright or similar rights. [link]{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_exception_or_limitation_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}All jurisdictions allow some limited uses of copyrighted material without permission. The rights of users under those copyright limitations and exceptions are not limited under the CC licenses, such as fair use and fair dealing where applicable. These uses may even include things otherwise forbidden by the license, such as fair uses in a commercial context for material under an NC license. [link]{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_technological_measures_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}The license prohibits application of Effective Technological Measures, or ETMs. These are any technological measures used to restrict or prevent the exercise of the licensed rights whose circumvention is prohibited by law in many jurisdictions, particularly those fulfilling obligations under Article 11 of the WIPO Copyight Treaty. [link]{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_others_may_have_rights_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}The licensor can only license material he or she controls the rights to. Many works include elements such as trademarked material, copyrighted material used under a limitation or exception to copyright. When these rights belong to the licensor, the licensor agrees to waive or not assert any such rights to the extent possible; however, where the rights belong to someone other than the licensor, the license does not grant them to you.{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>
    <div id="help_additional_terms_database_popup" class="help_panel">
      <div class="hd">&nbsp;</div>
      <div class="bd">
        <p>{% trans %}In certain jurisdictions, particularly in the European Union, databases may be protected under sui generis database rights (SGDRs), even where they have been compiled without the creativity necessary for copyright. Where the database has been created in a jurisdiction with these rights and your jurisdiction recognizes these rights, SGDRs may apply to your use in addition to any applicable copyright, and may affect your ability to reproduce, extract, and reuse contents of the database. These rights are licensed, as detailed in the legal code: [link to SGDR section]{% endtrans %}</p>
        <p><a href="#">
          {%- trans %}Learn more{% endtrans %}</a>.</p>
      </div>
    </div>

  </div>
  <span id="referrer-metadata-container" />
{% endblock %}
