<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:dct="http://purl.org/dc/terms/"
      xmlns:frbr="http://purl.org/vocab/frbr/core#">
  <head about="{{ license.uri }}">
    <title>
      {%- block title -%}
        Creative Commons &mdash; {{ license.title(target_lang) }}
      {%- endblock -%}
    </title>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/2.6.0/build/container/assets/skins/sam/container.css"/>

    <link rel="stylesheet" type="text/css"
          href="{{ request.staticdirect('includes/deed3.css') }}"
          media="screen" />
    {% if is_rtl %}
      <link rel="stylesheet" type="text/css" media="screen"
            href="{{ request.staticdirect('includes/deed3-rtl.css') }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" media="print"
          href="{{ request.staticdirect('includes/deed3-print.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ request.staticdirect('includes/jurisdictions.css') }}"
          media="screen" />

    <!--[if lt IE 7]>
      <link rel="stylesheet" type="text/css"
            href="{{ request.staticdirect('includes/deed3-ie.css') }}"
            media="screen" />
    <![endif]-->

    <link rel="alternate" type="application/rdf+xml" href="rdf" />
    {% include "includes/language_javascript.html" %}

    <script type="text/javascript"
            src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js">
    </script>
    <script type="text/javascript"
            src="http://yui.yahooapis.com/2.6.0/build/connection/connection-min.js">
    </script>
    <script type="text/javascript"
            src="http://yui.yahooapis.com/2.6.0/build/json/json-min.js">
    </script>

    <script type="text/javascript" src="http://scraper.creativecommons.org/js/deed.js">
    </script>

    <script type="text/javascript"
            src="http://yui.yahooapis.com/2.6.0/build/container/container-min.js">
    </script>

    <script type="text/javascript"
            src="{{ request.staticdirect('includes/help.js') }}">
    </script>

    {% block headers %}{% endblock %}
  </head>

  <body typeof="cc:License" about="{{ license.uri }}"
        class="yui-skin-sam">

    {% block page_top %}{% endblock %}

    <div id="deed"
         class="{% if color %}{{ color }}{% else %}green{% endif %}"
         dir="{{ get_ltr_rtl }}"
         style="{{ is_rtl_align }}">

      <div id="deed-head">
        <div id="cc-logo">
          <img src="{{ request.staticdirect('images/deed/cc-logo.jpg') }}"
               alt="cc logo" />
        </div>
        <div id="cc-link">
          <a rel="dc:creator dct:creator" href="http://creativecommons.org/">
            <span property="dc:title dct:title">Creative Commons</span>
          </a>
        </div>
        <h1><span>Creative Commons License Deed</span></h1>

        <div id="deed-license">
          <h2>{% block license_name %}{% endblock %}</h2>
        </div>
      </div>

      <div id="deed-main" dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
        <div id="legalcode-block">
            {% block legalcode_block %}
              <!--- hidden disclaimer text -->
            <div id="help_disclaimer_popup" class="help_panel">
              <div class="hd">{{ cctrans(locale, "util.Disclaimer")|safe }}</div>
              {% if license.jurisdiction.code == 'jp' %}
                <div class="bd">
                  {{ cctrans(locale, "deed.disclaimer.jp")|safe }}
                </div>
              {% else %}
                <div class="bd">
                  {{ cctrans(locale, "deed.disclaimer")|safe }}
                </div>
              {% endif %}
            </div>
  
            <div id="deed-disclaimer">
              {% if multi_language %}
                <div class="summary">
                  {{ cctrans(locale, "deed.human_summary_multilanguage")|safe }}
                  {% for legalcode_link, legalcode_name in legalcodes %}
                    <a href="{{ legalcode_link }}">{{ legalcode_name }}</a>
                  {% endfor %}
                </div>
              {% else %}
                <div class="summary">
                  {{ cctrans(locale, "deed.human_summary")|safe }}
                </div>
              {% endif %}
  
              <div class="disclaimer">
                <a href="#" id="disclaimer_popup" class="helpLink">
                  {{ cctrans(locale, "util.Disclaimer")|safe }}
                </a>
              </div>
            </div>
          {% endblock %}
        </div>

        <div id="deed-main-content" class="{{ license.jurisdiction.code }}">
          {% block body %}{% endblock %}
        </div>
      </div>

    </div>
    <div id="footer">
      <p>
        {% if not license.deprecated %}
          {% block use_this_license %}
            <a id="get_this" href="/choose/results-one?license_code={{ license_code_quoted }}&jurisdiction={{ license.jurisdiction.code }}&version={{ license.version }}&lang={{ target_lang }}"
               >{{ cctrans(locale, "deed.use_this_license")|safe }}</a>
          {% endblock %}
        {% endif %}
      </p>
      {% include "includes/translations.html" %}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2010376-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      document.write("<" + "script type='text/javascript' src='http://scraper.creativecommons.org/apps/deed?url=" + encodeURIComponent(document.referrer) + "&license_uri=" + encodeURIComponent(document.URL) + "&callback=YAHOO.cc.success'" + "><" + "/script>");
    </script>
  </body>
</html>
