<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>{% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" 
          href="{{ request.staticdirect('includes/ccliss.css') }}" />
    {% if request.GET.has_key('stylesheet') %}
      <link rel="stylesheet" type="text/css"
            href="{{ request.GET['stylesheet'] }}" />
    {% endif %}
    {% block headers %}{% endblock %}
  </head>

  <body>
    {% set partner_icon_url = request.GET.get('partner_icon_url', '/images/remote_logo.gif') %}
    <div id="main">
      <div id="page-body">
        <div class="header">
          <img src="{{ partner_icon_url }}" alt="" border="0" />
        </div>

        <div class="nav">
          provided by
          <a href="http://creativecommons.org/"
             >{{ cctrans(locale, "util.Creative_Commons") }}</a>
        </div>
        {% block body %}{% endblock %}
      </div>
    </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2010376-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
