/* ==|== layout styles =====================================================
   Author: Fabricatorz, LLC
   ========================================================================== */

html, body {
	height: 100%;
}

#page {
	min-height: 100%;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

header {
	/*height: 54px;*/ /* Height of the header */
}

header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#main {
	clear:both;
	padding-bottom: 54px; /* Height of the footer */
	/*overflow: hidden;*/
}

#main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
	

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 54px; /* Height of the footer */
}
