/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
	.bucket .inner {
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
		-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
	}
}
@media only screen and (min-width: 767px) {
  /* Style adjustments for viewports 768px and over go here */
  .topbar #short-menu {
  	display: none;
  }

	.short .bucket .content {
		min-height: 240px;
	}

	.tall .bucket .content {
		min-height: 480px;
	}

	.bucket .slide .content {
		height: 260px;
	}
	
	.bucket .slide .film {
		height: 330px;
	}
	
	.slides_container {
		height: 330px;
		width: 940px;
	}
	
	
}
@media only screen and (min-width: 960px) {
	
	.bucket .slide .film .caption {
		width: 640px;
	}
	
}

@media only screen and (max-width: 767px) {
	.topbar #wide-menu, .topbar form #glass {
		display: none;
	}
	.topbar form {
		margin-right: 0px;
	}
	
	footer .first.row {
		margin-top: 30px;
	}
	
	.slides_container, .slides_container div.slide {
		height: 480px;
		width: 420px;
	}
	
	.bucket .slide .content {
		height: 170px;
	}
	
	.bucket .slide .film { 
		height: 240px;
	}
	
	
}

@media only screen and (max-width: 480px) {
	.topbar #logo {
		width: 60px;
		background: url("../img/cc.cc-27x30.png") 20px 4px no-repeat;
	}
	.topbar #home-button {
		width: 60px;
	}
	.topbar #skip-navigation {
		left: 50px;
	}
	
	.slides_container, .slides_container div.slide{
		height: 440px;
	}
	
	.bucket .slide .film {
		height: 196px;
	}
}
