cc/engine/resources/cc3
cc/engine/resources/cc4
cc/engine/resources/cc5
cc/engine/resources/cc6
cc/engine/resources/images
cc/engine/resources/includes
cc/engine/resources/cctheme
dist/
bin/
develop-eggs/
eggs/
/parts/
.installed.cfg
cc.engine.egg-info
*.pyc
*.pyo
/nosetests.xml
lib/
python/
include/
local