[buildout]
develop = . cc.license_
parts = app data instance test
find-links = http://download.zope.org/distribution/

[zope3]
# this dead chicken is needed by some other recipe(s)
location =

[data]
recipe = zc.recipe.filestorage

[app]
recipe = zc.zope3recipes:app
eggs = cc.engine
site.zcml = <include package="cc.engine" />
            <include package="zope.app.twisted" />

            <unauthenticatedPrincipal id="zope.anybody"
                                      title="Unauthenticated User" />
            <unauthenticatedGroup id="zope.Anybody"
                                  title="Unauthenticated Users" />
            <authenticatedGroup id="zope.Authenticated"
                                title="Authenticated Users" />
            <everybodyGroup id="zope.Everybody"
                            title="All Users" />
            <principal id="zope.manager"
                       title="Manager"
                       login="manager"
                       password_manager="Plain Text"
                       password="manager"
                       />

            <!-- Replace the following directive if you don't want
                 public access -->
            <grant permission="zope.View"
                   principal="zope.Anybody" />
            <grant permission="zope.app.dublincore.view"
                   principal="zope.Anybody" />

            <role id="zope.Manager" title="Site Manager" />
            <role id="zope.Member" title="Site Member" />
            <grantAll role="zope.Manager" />
            <grant role="zope.Manager"
                   principal="zope.manager" />

[data]
recipe = zc.recipe.filestorage

[instance]
recipe = zc.zope3recipes:instance
application = app
zope.conf = ${data:zconfig}

[test]
recipe = zc.recipe.testrunner
eggs = cc.engine
defaults = ['--tests-pattern', '^f?tests$', '-v']
