# A Buildout for building libxml2, libxslt1 and lxml in the local work area.
# 
# Run:
# 
#  $ ./bin/buildout -c lxml.buildout.cfg
#
# to build and install cc.engine with self-contained lxml+libraries.
#

[buildout]
extends = buildout.cfg
parts = libxml2 libxslt lxml i18n cc.engine database cc_engine test

[libxml2]
recipe = zc.recipe.cmmi
url = ftp://xmlsoft.org/libxml2/libxml2-2.6.27.tar.gz
extra_options = --without-python 

[libxslt]
recipe = zc.recipe.cmmi
url = ftp://xmlsoft.org/libxml2/libxslt-1.1.18.tar.gz
extra_options = --with-libxml-prefix=${libxml2:location}
                --without-python

[lxml]
recipe = zc.recipe.egg:custom
egg = lxml==1.3.5
include-dirs = ${libxml2:location}/include/libxml2:${libxslt:location}/include
rpath = ${libxml2:location}/lib:${libxslt:location}/lib

