div.more-metadata div, .column, .columns {
    float:right; 
}



.column.omega, .columns.omega {
    margin-left:0;
    margin-right:10px;
}

.column.alpha, .columns.alpha {
    margin-right:0;
    margin-left:10px;
}

#license_layers {
    
    padding-right:81px;
    padding-left:0;

}

.licensebox  {
    text-align:center;
}

.licensebox a {
    direction:ltr;
}

#chooser_form 
{
    text-align:right;
}

#chooser_form .help_highlight h4 {
    margin-right:2em;
    margin-left:0;
} 

#chooser_form .help_highlight ul {
    
    margin-left:0;
    margin-right:5em;

}


#chooser_form .help_highlight .metatable label {
    text-align:left;
    float:left;
}

#chooser_form #metadata .metatable > span:first-of-type {
    padding: 0 37px 0 0;
    margin:0;
}

.require_js #metadata .help_highlight:hover .help_button  {
    right:13px;
    left:auto;
}

#chooserDonate div {
    float:left ;
    margin-right:2em;
    margin-left:auto;
}

.yui-skin-sam .container-close {

    right: auto;
    left: 6px;

}

