#contentPrimary {
	width: 760px;
	padding-right: 5px;
	padding-left: 23px;
	float: left;
/*	font-size: 80%;*/
}
#title { border-bottom: 1px solid #e0e0e0; margin-top: 0; margin-bottom: 25px; margin-right: -5px;}
#title h1 { margin-top: 1.5em; }
#title h2, .title h1 { padding: 0 0 0.45em 0; font-size: 43px; margin: 0 !important; line-height: 1em;}
#title h2.tagline { /*  color: #92534e;*/ color: #b82e00;}
#title h3.category { font-size: 90% !important; display: block; padding-top: 0; margin: 0; color: #999; line-height: 1em; }
#title h1.splash-title { padding-bottom: 0px; color: #777; font-size: 300%; }
#title h4 { font-size: 90%; padding-top: 1em;}
#title img {  border: 1px solid #666; padding: 0 !important; margin-right: 15px; }
#title #blurb { font-size: 60%; margin-bottom: 15px; }

#blocks {
	width: 575px;
	float: left;
}
.block, .wp-pagenavi { /*clear: both;*/ margin-bottom: 35px; padding-left: 1%; }
.block .title, #title { font-size: 175%; }
.block h1.title { margin-bottom: 0.15em; }
.block .title a:link, .block .title a:visited { color: #383838; }
.block h4.meta { color: #aaa; margin-top: 0 !important; margin-bottom: 20px !important; font-variant: normal; font-size: 105%; padding-left: 0 !important; }
.block img { border: 0; }
.block img.feature { display: block; }
.block img.commoner { margin-right: 10px; margin-left: 0; padding: 3px; border: 1px solid #e3e3e3; }
.block ul, .block ol { margin-left: 0px; padding-left:1em; margin-bottom: 15px; margin-top: 0; }
.block li { padding-bottom: 10px; }
.block ol ol { list-style-type: lower-roman; }
.block .publish-pics { float: left; margin-right: 10px; margin-bottom: 25px; padding: 3px; border: 1px solid #ccc; }
.block .excerpt { margin-left:  170px; }
.block .comments { margin: 75px 0; margin-right: 30%; font-size: 0.85em; clear: both;}

.blog {
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.twitter a {
	display: block;
	display: inline-block;
	padding: 0px 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #269ed3;
	color: #fff;
	font-weight: bold;
	font-size: 90%;
	border: 1px solid #168ec3;
}

.twitter a:hover {
	background-color: #2094c8;
	text-decoration: none;
}

.postTags, .block .widget {
	padding: 5px 9px;
	margin-top: 14px;
	margin-right: 10px;
	background-color: #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.single .postTags, .single .block .widget {
	width: 340px; 
	float: left;
}

.block .widget {
	border: none;
}

.widget ul {
	list-style: none;
}

.sideContentSpace {
	overflow: hidden;
/*	margin-right: 180px;*/
}

/*.page { margin-top: 35px;}
*/
.wp-pagenavi span.pages {
	padding-left: 0 !important;
}

.page h2, .page h3, .page h4, #archives h4 {
	margin-bottom: 0;
	margin-top: 1.5em;
}

#contentPrimary h4.first {
	margin-top: 0;
}

#contentPrimary p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

#blog .block, #features .page, #alpha .block, #alpha .page { padding-right: 2% !important; }

#archives, #sideContent {
	float: right;
	margin-right: -5px;
	width: 160px;
}

#archives ul, #sideContent ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar { 
	float: right;
/*	font-size: 75%; */
	width: 150px; 
	margin: 10px 0;
	padding: 0;
/*	margin-left: 1%; */
	margin-right: 0 !important; 
	padding-bottom: 3em; 
/*	background-color: #f00; */
} /* + .content-box */

#sidebar .sideitem {
	clear: both;
	margin-bottom: 1em;
	padding-bottom: 0.7em;
	padding-left: 5px; 
	border-bottom: 1px solid #e0e0e0;
	font-size: 90%;
}
	
#sidebar .sideitem #searchform	{
	margin-bottom: 0.5em;
}

#sidebar .sideitem input#s {
	width: 96px;
}

#sidebar .sideitem #searchsubmit	{
	font-size: 0.9em;

}

#sidebar ul,  #features ul { list-style:  none; padding-left: 0; margin-left: 0 !important; }
#sidebar ul li, #features ul li { margin-bottom: 0.75em;  margin-left: 0 !important; }
#sidebar img { margin-bottom: -3px; }

#sidebar li ul { margin-top: 0.75em; }

#sidebar .sideitem a.post-edit-link {
	display: block;
	padding: 3px;
	background-color: #FFE9E5;
	border: 1px solid #FFC0B7;
	color: #FF2000;
	margin-right: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
}

/* Press Kit Specials */
ul.presskit {
	margin-top: 1em;
	list-style:none;
	clear: both;
	margin-left: 0;
}
ul.presskit li {
  display: inline-block;
  vertical-align: top;  
	width: 7em;
	padding: 0.3em 0.7em;
	margin: 0 0.4em 0 0;
	margin-bottom: 0.8em;
	border:1px solid #e0e0e0;
	text-align: center;
}

ul.presskit li a {
	font-size: 0.9em;
}

ul.presskit li.wide {
	width: 16.33em;
}

p.presskit {
	clear: both;
	margin-top: 1em;
	margin-left: 0.4em;
}

	.timeline {
		width: 38%;
		float: right;
		margin-left: 1.25em;
	}
	.timeline h4 {
			color: #333;
	}

	.attribute_blurb {
	  overflow-y: auto;
	  margin-bottom: 2.5em;
	  padding: 10px 0 10px 10px;
	  background-color: #faffef;
	  border: 1px solid #dadfcf;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	}
	.attributes {
	  width: 175px;
	  padding: 0 10px 0 0;
	  float: left;
	}
	.attributes img {
	  float: left;
	  margin: 0 8px 10px 0;
	}
	.attributes p { 
	  clear:left;
	  border-top:1px solid #ccc;
	  padding-top: 0.5em;
	  margin-bottom: 0 !important;
	}

	#license_blurbs {
		/* border-top: 1px solid #ddd;*/
		position: relative;
		}

	.license_blurb {
		margin: 2em 3.5em 3em 0;
		padding-bottom: 1.25em;
		border-bottom: 1px solid #ddd;
	} 
	.license_blurb h2 {
		margin-left: 100px;
		margin-bottom: 1em;
		font-size: 150% !important;
		line-height: 1;
	}
	
	.license_blurb h2 em { 
		font-weight: normal;
		font-size: 70%;
	}

	.license_blurb img {
		padding-top: 0.25em;
		float: left;
	}
	.license_blurb p {
		clear: left;
	}

	.license_blurb .deed_links {
		font-size: 90%;
	}


	.column-container {
			clear: both;
			overflow: auto;
			border-top: 1px solid #e0e0e0;
			padding-top: 1em;
	}
	.column {
			float: left;
			width: 32%;
			padding-right: 1%;
	}

	.clear-tall {
			clear: both;
			margin: 0;
			padding: 1.5em 0;
	}


	.video-container {
			border-top: none;
	}

	.video {
			width: 220px;
			float: left;
			margin-right: 10px;
	}


.about-items-box {
		clear: both;
		padding-bottom: 3em; 
		margin: 1em 0;  
		border-bottom: 1px solid #e0e0e0;  
		overflow: auto;
}

.about-items {
		width: 48%;
		padding-right: 2%;
		float: left;
}

#peoples img.mugshot {
	border: 3px solid #ddd; margin-bottom: 10px;
	-webkit-border-radius: 3px;
}

#peoples p {
	margin-left: 115px;
}

#peoples .person { margin-bottom: 2em;}
#peoples .person span.email { display:inline-block; float: right; color:#777; } 
#peoples .person span.smalldates { font-size:90%; color: #666; }


.alignleft {
        float: left;
        margin-right: 10px;
	margin-right: 10px;

}

.alignright {
        float: right;
        margin-left: 10px;
	margin-left: 10px;
}

.commentlist .comment {
	padding: 10px 0 !important;
	border-bottom: 1px solid #ccc;
}

.commentlist .comment h4 {
	color: #3a3a3a;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1.5em;
}

.commentlist .comment h4 a {
	color: #3a3a3a;
	text-decoration: underline;
}

.commentlist .comment h4 a:hover {
	text-decoration: none;
}

.commentlist .comment p {
	color: #4f4f4f;
}

.commentlist .comment .commentmetadata a {
	color: #666;
}

.ifloat { text-align: center; float: left; width: 74px; height:80px; padding: 10px; }
.ifloat .flag, .flag { border: 1px solid #333; }
.ifloat p { text-align: center; }
.icontainer { margin:14px; text-align: center; }
.ispacer { clear: both; }

ul.archives { list-style: none; margin: 0 15px 15px 8px; }
ul.archives li { border-bottom: 1px solid #e9e9e9; padding: 5px 0 3px 5px; position: relative; }
ul.archives li .blocked { position: absolute; top: 6px; right: 6px; }
ul.archives h3 { width: 60%;  }
ul.archives .gadgets { float:right; margin-left: 61%; }

#sideContent ul li {
		padding-bottom: 1.5em;
}

#mainContent .maincol {
	width: 60%;
	margin-right: 20px;
	float: left;
}

#mainContent .secondarycol {
	width: 33%;
	float: left;
	margin: 0;
}

/* --- Widgets --- */
.widget {
	padding-bottom: 0.75em;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1em;
}

/* Simple Tags */
ul.st-tag-cloud li {
	display: inline;
}
ul.st-tag-cloud li:after {
	content: ", ";
}


/* Sidebar Testimonials */
#sidebarTestimonial {
	cursor: pointer;
}

#sidebarTestimonial h3 {
	margin-bottom: 0;
}
#sidebarTestimonial p.quote {
	margin-top: 0;
}

#sidebarTestimonial p.source {
	margin-bottom: 0;
}

#sidebarTestimonial img {
	margin-top: 3px;
	margin-right: 3px;
	width: 28%;
	height: 28%;
}

/* /education */
.eduUserGroup {
	padding: 1em 0 1em 1em;
	margin-bottom: 1.5em;
	background-color: #e8f4e6; /*#e0f0e0;*/
	overflow-y: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	min-height: 370px;
}

.eduUserGroup ul { list-style: none; padding: 0; overflow: hidden; }
.eduUserGroup ul li { margin: 0; padding: 0; float: left;}

.eduUser {
/*	margin: 0 1%;
	float: left;*/
/*	width: 48%;
*/
	width: 366px;
}
.eduUserImage {
	height: 71px;
	background-color: #fff;
	border: 2px solid #fff;
}

.eduUserImage, .eduUser p { width: 344px; }

.eduUser h4 {
	margin-top: 0.5em;
}

.eduUserGroup .carousel-control {
	cursor:pointer;
	display: block;
	position: absolute;
	bottom: 15px;
	z-index: 999;
	padding: 3px 5px;
	background: #cae9c5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 60px;
	text-align: center;
	color: #222;
	font-weight: bold;
}
.eduUserGroup .carousel-control:hover {
	-moz-opacity:.7;
	opacity:0.70;
	filter:alpha(opacity=70);
}
.eduUserGroup .carousel-next {
	right: 13px;
}
.eduUserGroup .carousel-previous {
	left: 13px;
}


/* Superheroes in blog posts */
.superheroBlock {
  float: right;
  width:165px;
  margin-left: 25px;
  margin-right: 10px;
  text-align:center;
}

.superhero {
  width: 160px;
  margin-bottom: 15px;
  padding: 5px 5px 0;
  background:#007fd4;  background:-webkit-gradient(linear, left top, left bottom, from(#0786db), to(#116ba8));
  background:-moz-linear-gradient(center bottom, #0786db, #116ba8);  -webkit-border-radius:7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border:2px solid #116ba8;
  -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
}

.superhero h2, .superhero h2 a {
  color: #fcee21;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.donateButton {
  display:inline-block;
  margin: 0 auto;
  width:165px;
  text-align:center;
  background:-webkit-gradient(linear, left bottom, left top, from(#c9eff9), to(#b0d2da));
  background:-moz-linear-gradient(center bottom, #c9eff9, #b0d2da);
  padding: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255,
 255, 255, 0.5), inset 1px 0 0 rgba(255, 255, 255, 0.5), inset -1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 25
5, 255, 0.5), inset 1px 0 0 rgba(255, 255, 255, 0.5), inset -1px 0 0 rgba(255, 255, 255, 0.5);

  border:1px solid #116ba8;
}

.donateButton a {
  display:block;
  color:#333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.43);
}

.superheroPhotos {
  position: relative;
  width: 704px;
  margin: 15px auto;
}

.superheroPhoto {
  padding-right: 1px;
  width: 230px;
  display: inline-block;
  vertical-align:top;
  font-size: 80%;
  color: #777;
}

.superheroPhoto img {
  margin-bottom: 0px;
}

.superheroPhoto a {
  color: #777;
  border-bottom: 1px dotted #b9b9b9;
}

.superheroPhoto a:hover {
  text-decoration: none;
  border-bottom-style: solid;
}

.superheroPhotosOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 700px;
  height: 180px;
  background: url(https://creativecommons.net/sites/default/themes/cc/images/superhero/comic-panels.png) no-repeat;
}

.superheroPhotosOverlay p {
  position: absolute;
  top: 0px;
  padding-left: 5px;
  color: #000;
}

