<div id="deed-donate-slide" style="display: none;">
  <div class="slide-trigger">
    <div class="slide-close"></div>
    <img src="/images/deed/logo-cc-heart-white.png" class="slide-logo" alt="" width="100" height="88" />
    <p class="desktop-only">{% trans %}This content is freely available under simple legal terms because of Creative Commons, a non-profit that survives on donations. If you love this content, and love that it's free for everyone, please consider a donation to support our work.{% endtrans %}</p>
    <p class="mobile-only">{% trans %}When you share, everyone wins.{% endtrans %}</p>
    <div class="donate-box">
      <div class="widget-inner">
        <div class="gform_wrapper" id="gform_wrapper_10">
          <form method="post" enctype="multipart/form-data" id="gform_10" action="/donate">
            <div id="field_10_1" class="gfield field_sublabel_below field_description_below">
              <label class="gfield_label">{% trans %}Contribute today to Creative Commons{% endtrans %}</label>
              <div class="ginput_container ginput_container_radio">
                <ul class="gfield_radio" id="input_10_1">
                  <li class="gchoice_10_1_0">
                    <input name="amount" type="radio" value="$100" id="choice_10_1_0" tabindex="1">
                    <label for="choice_10_1_0" id="label_10_1_0">$100</label>
                  </li>
                  <li class="gchoice_10_1_1">
                    <input name="amount" type="radio" value="$50" checked="checked" id="choice_10_1_1" tabindex="2">
                    <label for="choice_10_1_1" id="label_10_1_1">$50</label>
                  </li>
                  <li class="gchoice_10_1_2">
                    <input name="amount" type="radio" value="$25" id="choice_10_1_2" tabindex="3">
                    <label for="choice_10_1_2" id="label_10_1_2">$25</label>
                  </li>
                  <li class="gchoice_10_1_3">
                    <input name="amount" type="radio" value="$5" id="choice_10_1_3" tabindex="4">
                    <label for="choice_10_1_3" id="label_10_1_3">$5</label>
                  </li>
                  <li class="gchoice_10_1_4">
                    <input name="amount" type="radio" value="gf_other_choice" id="choice_10_1_4" tabindex="5" onfocus="$(this).next('input').focus();">
                    <input name="amount_other" type="text" id="input_10_1_other" tabindex="5" style="max-width: 80%" placeholder="{% trans %}Amount{% endtrans %}" aria-label="{% trans %}Amount{% endtrans %}">
                  </li>
                </ul>

                <input type="hidden" name="type" value="One Time">
                <input type="hidden" name="utm_content" value="eoy2016_deed">
                <input type="hidden" name="utm_source" value="web">
                <input type="hidden" name="utm_medium" value="ccwebsiteorblog">
                <input type="hidden" name="utm_campaign" value="2016EOY">

                <input type="submit" id="gform_submit_button_10" class="gform_button button" value="{% trans %}Donate Now{% endtrans %}" tabindex="6">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
