<div class="more-metadata-container">
  <h4>{% trans %}Additional Information{% endtrans %}</h4>
  <p>
    <div>
      <span>
        {% trans %}The additional fields are <strong>optional</strong>, but will be embedded in the HTML generated for your license. This allows users of your work to determine how to attribute it or where to go for more information about the work.{% endtrans %}
      </span>
      <a href="" id="embedded_metadata" class="helpLink">
        <img src="{{ request.staticdirect('images/information.png') }}"
             alt="{% trans %}Information{% endtrans %}" />
      </a>
      <div class="help-popover">
        <div class="popover below">
          <div class="arrow"></div>
          <div class="inner">
            <h3 class="title">{% trans %}Embedded Metadata{% endtrans %}</h3>
            <a href="#" class="close">&times;</a>
            <div class="content">
              <p>{% trans %}<p>
	  The information is embedded in a software readable format.
	  This allows search engines to index additional information
	  about your work and allows people coming to the license deed
	  from your page to see information on the deed about how to
	  attribute your work.  
	</p>
	<p>
	  <a href="http://wiki.creativecommons.org/Metadata">More
	    information</a> on Creative Commons metadata is available if
	  you want to find out more.
	</p>{% endtrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p>

  <div class="more-metadata">
    <div class="label">
      {% trans %}Tell us the format of your work:{% endtrans %}
    </div>

    <select name="field_format">
      <option value="" selected="selected">
        {% trans %}Other{% endtrans %}</option>
      <option value="Sound">
        {% trans %}Audio{% endtrans %}</option>
      <option value="MovingImage">
        {% trans %}Video{% endtrans %}</option>
      <option value="StillImage">
        {% trans %}Image{% endtrans %}</option>
      <option value="Text">
        {% trans %}Text{% endtrans %}</option>
      <option value="Dataset">
        {% trans %}Dataset{% endtrans %}</option>
      <option value="InteractiveResource">
        {% trans %}Interactive{% endtrans %}</option>
    </select>
  </div>

  <div class="more-metadata">
    <div class="label">{% trans %}Title of work{% endtrans %}</div>

    <input type="text" name="field_worktitle" value="" />
    <a href="" id="worktitle" class="helpLink">
      <img src="{{ request.staticdirect('images/information.png') }}"
           alt="{% trans %}Information{% endtrans %}" />
    </a>
    <div class="help-popover">
      <div class="popover below">
        <div class="arrow"></div>
        <div class="inner">
          <h3 class="title">{% trans %}Title of work{% endtrans %}</h3>
          <a href="#" class="close">&times;</a>
          <div class="content">
            <p>{% trans %}The title of the work you are licensing.{% endtrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-metadata">
    <div class="label">
      {% trans %}Attribute work to name{% endtrans %}
    </div>

    <input type="text" name="field_attribute_to_name" />
    <a href="" id="attribution_name" class="helpLink">
      <img src="{{ request.staticdirect('images/information.png') }}"
           alt="{% trans %}Information{% endtrans %}" />
    </a>
    <div class="help-popover">
      <div class="popover below">
        <div class="arrow"></div>
        <div class="inner">
          <h3 class="title">{% trans %}Attribute work to name{% endtrans %}</h3>
          <a href="#" class="close">&times;</a>
          <div class="content">
            <p>{% trans %}The name users of the work should give attribution to. For example, the name of the work's author.{% endtrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="more-metadata">
    <div class="label">
      {% trans %}Attribute work to URL{% endtrans %}
    </div>

    <input type="text" name="field_attribute_to_url" value="" />
    <a href="" id="attribution_url" class="helpLink">
      <img src="{{ request.staticdirect('images/information.png') }}"
           alt="{% trans %}Information{% endtrans %}" />
    </a>
    <div class="help-popover">
      <div class="popover below">
        <div class="arrow"></div>
        <div class="inner">
          <h3 class="title">{% trans %}Attribute work to URL{% endtrans %}</h3>
          <a href="#" class="close">&times;</a>
          <div class="content">
            <p>{% trans %}The URL users of the work should link to. For example, the work's page on the author's site.{% endtrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-metadata">
    <div class="label">{% trans %}Source work URL{% endtrans %}</div>

    <input type="text" name="field_sourceurl" value=""/>
    <a href="" id="source_work" class="helpLink">
      <img src="{{ request.staticdirect('images/information.png') }}"
           alt="{% trans %}Information{% endtrans %}" />
    </a>
    <div class="help-popover">
      <div class="popover below">
        <div class="arrow"></div>
        <div class="inner">
          <h3 class="title">{% trans %}Source work URL{% endtrans %}</h3>
          <a href="#" class="close">&times;</a>
          <div class="content">
            <p>{% trans %}A work another is derived from.{% endtrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-metadata">
    <div class="label">{% trans %}More permissions URL{% endtrans %}</div>

    <input type="text" name="field_morepermissionsurl" value=""/>
    <a href="" id="more_permissions_url" class="helpLink">
      <img src="{{ request.staticdirect('images/information.png') }}"
           alt="{% trans %}Information{% endtrans %}" />
    </a>
    <div class="help-popover">
      <div class="popover below">
        <div class="arrow"></div>
        <div class="inner">
          <h3 class="title">{% trans %}More permissions URL{% endtrans %}</h3>
          <a href="#" class="close">&times;</a>
          <div class="content">
            <p>{% trans %}A URL where a user can obtain information about clearing rights that are not pre-cleared by your CC license.{% endtrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
