
 ======================================================================================
 The following is required to properly run cforms
 ======================================================================================

	Wordpress version 2.1 or higher

	PHP version 4 or higher

	MySQL version 4.x or higher


	Enough PHP memory allocation (24+ MByte)