# m h dom mon dow command

MAILTO=webmaster@creativecommons.org

# Sync stats stuff from backup.CC.org to Labs/metrics
0 */3 * * * ~/bin/rsync_stats_data_from_backup.sh

# Pull changes from Tx.net and push them to our repos
45 * * * * ~/bin/sync_i18n_with_transifex.sh > /dev/null
50 * * * * ~/bin/sync_i18n-ccsearch_with_transifex.sh > /dev/null

# Send staff call notes reminder and updates
1 16 * * fri	~/bin/staff_call_script.sh
1 22 * * mon 	~/bin/staff_call_script.sh

# Make i18n sdist package
#0 * * * * /bin/bash /var/www/staging.creativecommons.org/make_i18n_sdist.sh > /dev/null
