@import url(site.css);

#headerLogo { 
	height: 63px;
	width: 251px;
}

#headerLogo h1 span {
	display: none;
}

#headerLogo h1 {
	margin: 0;
	padding: 0;
	height: 51px;
	width: 251px;
	background: url(images/cc-logo-large.png) no-repeat top left;
	position: absolute;
	top: 55px;
}

#headerLogo a {
	display: block;
	width: 100%;
	height: 100%;
}

#headerSearch {
	position: absolute;
	top: 10px;
	left: 0;
}

#headerIntro {
	position: absolute;
	top: 54px;
	right: 0;
	color: #fff /*263B13*/;
	font-size:14px;
}

#headerIntro h2 {
	margin: 0 0 0.15em 0;
	padding: 0;
	color: #fff;
}
#headerIntro  h4 {
	margin: 0 0 0.25em 0;
	padding: 0;
	color: #e6efcf /*263b13*/;
	line-height: 1em;
}

#headerIntro p {
	margin: 0;
	/* font-size: 95%; */
	line-height: 1.33em;
	padding-bottom: 0.25em;
}

#headerIntro a {
	font-weight: bold;
}

#headerIntro p, #headerIntro a, #headerintro h4 {
	color: #f6ffdf /*264513*/;
}

#mainContent {
	margin-top: 110px;
	clear: both;
}

#topContent, #triple {
	padding-bottom: 32px;
/*	margin: 0 25px;*/
	margin-bottom: 15px;
	border-bottom: 1px solid #e4e4e4;
/*	background: url(images/top-gradient.png) repeat-x bottom left;*/

}

#triple {
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: 4px double #e4e4e4;
}

#splashBox {
/*	background-color: #E6ECD0;
*/	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#splash {
	font-size: 1.2em;
	position: relative;
	height: 200px;
	overflow: hidden;
	background-color: #e6ede2;
}

#splash img.main {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
/*	border: 1px solid #fff;
	border-width: 0px 1px;*/
}

#splash .blurb {
	position: absolute;
	bottom: -7px;
	left: 15px;
	border: none;
}

#splashBlurb {
}

#splashBlurb h2, #splashBlurb p {
	color: #353D21;
	line-height: 1.5em;
}
#splashBlurb p {
	margin-bottom: 5px !important;
}

#splashPost {
	font-style: italic;
	text-align: right;
	padding-top: 5px;
	padding-right: 8px;
}

#cc_mission {
	float: left;
	width: 313px;
}

#cc_mission h2, #cc_mission object {
	line-height: 1.5em;
	padding-right: 10px;
}

#cc_mission h2, #cc_mission h3 {
	font-weight: normal;
}

#cc_mission h4 {
	margin-bottom: 0 !important;
	line-height: 1em;
}



#quote {
	position: relative;
	/*display: block; 
	width: 307px;
	height: 219px;
	background: url(images/videos-generic.jpg) no-repeat top left;
	-moz-border-radius: 10px;*/
}

#quote img {
	/*margin-bottom: -0.15em;*/
}

#quote a.theQuote {
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	padding: 149px 0 0 30px;
	width: 270px;
	height: 45px;
	text-indent: -0.5em;
	font-size: 1.75em;
	line-height: 1.25em;
	color: #fff;
}

#quote a.theQuote:hover {
	text-decoration: none;
	color: #f0c101;
}

#quote a.theQuote:hover img {
	opacity: 0.8;
}

#quote a.videos {
	display: block;
	position: absolute;
	bottom: 10px;
	background-color: #eee;
	padding: 2px 10px;
	text-align: right;
	width: 280px;
}

#quote a.theQuote strong {
	color: #487100;
}

#latestNews {
	float: left;
	width: 300px;
}

#latestNews li.notice {
	background-color: #e7e7c6;
	padding: 5px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#latestNews li.notice p {
	display: none;
}

#latestNews li.notice a {
	color: #444;
}

#ccTools {
	padding-top: 0em;
}

#ccContent {
	clear: both;
	margin-top: 1em;
	
}


#ccCommons {
	margin-top: 2em;
}

#ccBlurb {
	padding: 0 0;
	margin: 0 auto;
	line-height: 1.5em;
	color: #333;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	position: relative;
	overflow: visible;
}

#ccBlurb p {
	padding: 0 10px;
	margin-top: 0;
}

#ccBlurb .stroked {
	text-align:right;
}

#splashBox p, #splashBox h2 {
	padding: 3px 10px 5px;
}

#splashBox h2 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#splashBox p {
	padding-top: 0;
	margin-top: 0;
}

#splashBox p.attribution {
	margin: 0;
	padding: 0 0 0 10px;
	position: absolute;
	bottom: 0;
	font-size: 66%;
	font-style: oblique;
}

#ccFeatures {
	margin-top: 1.75em;
/*	border-top: 1px dotted #ccc;*/
}

#ccINews {
	width: 660px;
	float: left;
}

#ccINews, #splash {
}

#ccINews ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	line-height: 1.5em;
}

#ccINews ul li {
	overflow: auto;
	clear: both;

/*	background-color: #f6f6f0;*/
	padding: 5px 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#ccINews ul li:hover {
	background-color: #f6f6f0;
}

#ccINews ul p {
	line-height: 1em;
	margin: 0 0 0.75em 0;
	padding-top: 0;
	color: #666;
	text-align: left;
}

#ccINews p {
	margin-bottom: 0;
	text-align: right;
}

#ccINews .stdColumn{
	width: 304px;
	margin: 0;
	padding: 0;
	margin-right: 13px;
	padding-right: 12px;
	/*border-right: 1px dotted #ddd;*/
}

#ccINews .stdColumn h4, #ccINews .stdColumn h5 {
	margin: 0;
}
#ccINews .stdColumn h4 {
	padding-left: 4px;
}

#ccINews .stdColumn .flag {
	float: right;
	width: 56px;
	margin-left: 10px;
}

#ccINews .stdColumn img {
	border: 1px solid #555;
}

#ccINews .stdColumn p img {
	float: left;
	border: none;
	padding-right: 0.5em;
}

#ccINews .titleStrip {
}


#ccLinks {
	width: 300px;
	float: left;
}

#ccLinks .infoLinks {
	width: 50%;
	float: left;
}

#ccLinks ul {
	overflow: auto;
	margin: 0 0 2em 0;
	padding: 0;
	list-style: none;
	clear: both;
}

#ccLinks ul.ccContent {
	margin-right: 12px;
}

#ccLinks ul:after {
	clear: both;
}

#ccLinks li {
	padding-bottom: 1em;
}

#donateBlock, #blogHero {
	margin-bottom: 15px;
	padding: 10px;
	text-align: center;
	background-color: #528000 /* 00653F */;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 1.5em;
}

#donateBlock a {
	color: #fff;
}

.columnBox {
	clear: both;
	overflow: auto;
}

.stdColumn {
	float: left;
	width: 32%;
	/*padding-right: 1%;*/
	margin-right: 2%;
	
}

.ccTool {
	height: 100%;
}
.ccTool h2.find {
	background: url(images/find.png) no-repeat 97% 50%;
}
.ccTool h2.license {
	background: url(images/license.png) no-repeat 97% 50%;
}
.ccTool h2.join {
	background: url(images/network.png) no-repeat 97% 50%;
}

.ccTool h2 {
/*	background-color: #83B200;*/
/*	background-color: #8BA000;*/
	background-color: #daedb9 !important;
	border: 1px solid #d0e0b0;
	/*padding: 8px 6px 6px;*/
	padding-left: 6px;
	margin: 0.5em 0 ;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	font-size: 1.55em;
	letter-spacing: 0.015em;
}
.ccTool h2 a {
/*	color: #304808;
*/	display: block;
}
.ccTool p a {
	display: block;
	color: #333;
	margin: 0;
	/* font-size: 90%; */
	padding: 0 6px 6px;
	line-height: 1.5em;
	height: 3em;
}

.ccTool p a:hover {
	text-decoration: none;
	color: #666;
}

.ccTool img {
	float: left;
	border: none;
}

.lastColumn {
	/*border: none;*/
	padding: 0;
	margin: 0;
}

.titleStrip { 
	font-weight:bold;
	padding: 0px 3px 2px;
	margin-left: -3px;
}
.wideTitleStrip {
	width: 66%;
}
.columnTitleStrip {
	width: 31%;
}

.stdColumn .titleStrip {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}
