/*
 * Creative Commons 
 * 3.0 - 2006-09
 * 
 * IE related fixes/hacks
 *
 */


/* Transparent png's */
/* Apply to all images, who knows if they'll be PNGs. */
/* Because of WP routing issues, this has to be in the  */ 
img {
	behavior: url("pngie.htc");
}

#wrapper {

	/* min-width */
	width: expression( 
	    document.body.clientWidth < 850 ? "850px" : "94%"
	);

	
}

#wrapper-ie {
	
	/* max-width */
/*	width: expression( 
	    document.body.clientWidth > 1000 ? "1000px" : "auto"
	);
*/	
}

#header-wrapper {
margin-top: 0;
	background-color: #426000;
}

#header-main {
	margin-top: 0;
	margin-top: -4px;
	padding-bottom: 0px !important;	
	/* min-width */
/*	width: expression( 
	    document.body.clientWidth < 850 ? "850px" : "90%"
	);
*/}

#header-main .logo img { padding-top: 5px; }

#splash {
	font-weight: bold;

}

#main-content {
/*	width: 83%;
*/}

#beta, #features {
	width: 26.5%;
	overflow: hidden;
	padding-left: 10px;
}


#page {
/*	width: 92%;
*/}

#sidebar { padding-left: 5px; }

.cc-actions {
	margin-top: 5px !important;
}

/* I Hate IE */
#mainmenu { padding-bottom: 0; height:2.3em; }
ul#navbar { height:2.4em; padding-bottom: 0; margin-bottom: -17px !important; }
ul#navbar li { height: 2.1em; margin-bottom: 0;}
ul#navbar li.active { padding-bottom: 0px; margin-top: 0; height: 2.1em; }
ul#navbar li.active a { padding-bottom: 2px; }
ul#navbar a:hover { margin-bottom: 0; }
ul#navbar a span { padding-bottom: 0 !important; }

#donormap #mapinfo p { font-size: 10px; font-weight:normal !important; }

#sidebar #campaign .results {
	left: -88%;
}

#campaign08 .campaign-block h2, #campaign08 .campaign-block #join-today a  {
		margin-left: 50% !important;
}


