{% extends "macros_templates/engine.html" %}

{% block title %}CC0: Confirm Waiver{% endblock title %}

{% block headers %}
  <link rel="stylesheet" type="text/css" 
        href="http://yui.yahooapis.com/2.6.0/build/button/assets/skins/sam/button.css">
  <link rel="stylesheet" type="text/css"
        href="http://yui.yahooapis.com/2.6.0/build/container/assets/container.css">
  <link rel="stylesheet" type="text/css"
        href="{{ request.staticdirect('/includes/zero.css') }}" />
{% endblock headers %}

{% block sidebar %}{% endblock %}

{% block page_header_title %}
  CC0: {{ cctrans(locale, "license.zero.confirm_title")|safe }}
{% endblock %}

{% block body %}
  <div class="yui-skin-sam">
    <form action="results">
      {% for key, value in request_form.iteritems() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}" />
      {% endfor %}

      <div id="confirm-waiver" class="yui-module">
        <div class="bd">
          <p>
            {{ cctrans(locale, "license.zero.confirm_waiver_1")|safe }}
          </p>

          <p>
            {{ cctrans(locale, "license.zero.confirm_waiver_2")|safe }}
          </p>

          <p>
            {{ cctrans(locale, "license.zero.confirm_waiver_3")|safe }}
          </p>

          <div class="form-row yui-buttongroup">
            <span class="yui-button">
              <span class="first-child">
                <button type="submit" id="decline-submit"
                        name="waiver-decline"
                        value="decline">
                  {{ cctrans(locale, "license.zero.confirm_waiver_no")|safe }}
                </button>
              </span>
            </span>

            <span class="yui-button">
              <span class="first-child">
                <button type="submit" id="confirm-submit" 
                        name="waiver-affirm" class="alert" 
                        value="affirm">
                  {{ cctrans(locale, "license.zero.confirm_waiver_yes")|safe }}
                </button>
              </span>
            </span>
          </div>

        </div>
      </div>
    </form>
  </div>
{% endblock body %}
