{% extends "macros_templates/engine.html" %}

{% block title %}CC0{% endblock title %}

{% block headers %}
  <link rel="stylesheet" type="text/css"
        href="{{ request.staticdirect('includes/zero.css') }}" />
{% endblock headers %}

{% block sidebar %}{% endblock %}

{% block page_header_title %}CC0{% endblock %}

{% block body %}
  <div>
    <div id="page-welcome">
      <div class="bd">
        <div class="pd-explain-differences">
          {% trans %}You are using a tool for freeing your own work of copyright restrictions around the world. You may use this tool even if your work is free of copyright in some jurisdictions, if you want to want to ensure it is free everywhere. Creative Commons does not recommend this tool for works that are already in the public domain worldwide, instead use the <b><a href="/choose/mark/">Public Domain Mark</a></b> for such works.{% endtrans %}
        </div>

        <p>
          {% trans %}Using CC0, you can waive all copyrights and related or
	  neighboring rights that you have over your work, such as
	  your moral rights (to the extent waivable), your publicity
	  or privacy rights, rights you have protecting against unfair
	  competition, and database rights and rights protecting the
	  extraction, dissemination and reuse of data.{% endtrans %}
        </p>

        <p>
          {% trans %}Keep in mind that you cannot waive rights to a work that you
	  do not own unless you have permission from the owner.  To
	  avoid infringing third party rights, you should consult with
	  your legal advisor if you are unsure whether you have all
	  the rights you need to distribute the work.{% endtrans %}
        </p>

        <p>
          {% trans %}Please note that this is <strong>not a registration process</strong> and Creative Commons does not store or save any of the information you enter.  This tool guides you through the process of generating HTML with embedded metadata for marking your work as being available under CC0.  Your work will not be associated with CC0 or made available under CC0 until you publish it marked as being so.{% endtrans %}
        </p>

        <p>
          <a id="do-learn-more" class="btn"
             href="/about/cc0">{% trans %}Learn more{% endtrans %}</a>

          {% if request.GET.has_key('lang') %}
            <a id="do-begin" class="primary btn"
               href="{{ '/choose/zero/waiver?lang=' + target_lang }}">
              {% trans %}begin{% endtrans %} &raquo;
            </a>
          {% else %}
            <a id="do-begin" class="primary btn" href="/choose/zero/waiver">
              {% trans %}begin{% endtrans %} &raquo;
            </a>
          {% endif %}
        </p>

        {% include "includes/engine_languages.html" %}
      </div>
    </div>
  </div>
{% endblock body %}
