{% extends "macros_templates/engine.html" %}

{% block title %}CC0{% endblock title %}

{% block headers %}
  <link rel="stylesheet" type="text/css"
        href="{{ request.staticdirect('includes/zero.css') }}" />
{% endblock headers %}

{% block sidebar %}{% endblock %}

{% block page_header_title %}CC0{% endblock %}

{% block body %}
  <div>
    <div id="page-welcome">
      <div class="bd">
        <div class="pd-explain-differences">
          {{ cctrans(locale, "license.zero.PDM-difference")|safe }}
        </div>

        <p>
          {{ cctrans(locale, "license.zero.intro_1")|safe }}
        </p>

        <p>
          {{ cctrans(locale, "license.zero.intro_2")|safe }}
        </p>

        <p>
          {{ cctrans(locale, "license.zero.intro_3")|safe }}
        </p>

        <p>
          <a id="do-learn-more" class="btn"
             href="/about/cc0">{{ cctrans(locale, "util.learn_more")|safe }}</a>

          {% if request.GET.has_key('lang') %}
            <a id="do-begin" class="primary btn"
               href="{{ '/choose/zero/waiver?lang=' + target_lang }}">
              {{ cctrans(locale, "util.begin")|safe }} &raquo;
            </a>
          {% else %}
            <a id="do-begin" class="primary btn" href="/choose/zero/waiver">
              {{ cctrans(locale, "util.begin")|safe }} &raquo;
            </a>
          {% endif %}
        </p>

        {% include "includes/engine_languages.html" %}
      </div>
    </div>
  </div>
{% endblock body %}
