/*
 * Creative Commons 2007 Fundraising Campaign Widget (1.0)
 *
 */



/* Widget */

#cc_campaign_widget {
  position: relative;
  color: #fff !important;
  text-align: center !important;
  background: url('http://creativecommons.org/images/support/2007/widget-bg-end.png') top right no-repeat;
  width:252px !important; 
  height: 200px !important;
  font: 11px verdana, sans-serif !important;
  overflow: hidden !important;
}

* html #cc_campaign_widget{
  /* craaaaaazy IE background stuff */
  background-image: url('http://creativecommons.org/images/support/2007/widget-bg-end.gif');
}

#cc_campaign_widget_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 200px;
  background: url('http://creativecommons.org/images/support/2007/widget-bg-wide.png') top left no-repeat;
}

* html #cc_campaign_widget_bg {
  /* craaaaaazy IE background stuff */
  background-image: url('http://creativecommons.org/images/support/2007/widget-bg-wide.gif');
}

#cc_campaign_widget_bg_logo {
  position: absolute;
  top: 0px;
  left: 0;
  width: 235px;
  height: 200px;
  background: url('http://creativecommons.org/images/support/2007/widget-logo-big.png') 10px 15px no-repeat;
}

#cc_campaign_widget a {
  color: #ddd !important;
  text-decoration: none !important;
}
#cc_campaign_widget a:hover {
  text-decoration: underline !important;
}

#cc_campaign_widget form {
  margin-bottom: 5px !important;
  width: 242px;
}

* html #cc_campaign_widget form {
  margin-top: 0px !important;
}

#cc_campaign_widget form input {
  border: 1px solid #888;
  background-color: transparent;
  color: #ddd;
}



#cc_campaign_widget h1 {
  font: 20px helvetica, arial, sans-serif !important;
  font-weight: bold !important;
  color: #fff !important;
  padding-top: 0px !important;
  margin: 20px 0 0 20px !important;
  width: 143px;
  height: 35px;
}
#cc_campaign_widget h1 span { display: none; }

/** html #cc_campaign_widget h1 {
  height: 60px;
}*/

#cc_campaign_widget p {
  padding: 0 !important;
  margin: 0 0 0 10px !important; 
  height: 30px !important;
  overflow: hidden !important;
  font-size: 11px !important;
}

* html #cc_campaign_widget p {
  height: 26px !important;
}

#cc_campaign_widget h1, #cc_campaign_widget p {
  width: 232px !important;
}

#cc_widget_get { 
  text-align: right;
  font-size: 9px;
  margin: 3px 0;
  padding-bottom: 6px;
}

#cc_widget_get a {
  color: #688b78;
}
#cc_widget_get a:hover {
  color: #c6d5cd;
}

/* PROGRESS METER */

#cc_campaign_widget #campaign, #cc_campaign_widget #donors {
  display: block;
  height: 49px;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: transparent;
}

#cc_campaign_widget #campaign {
  display: none;
}
#cc_campaign_widget.cc_show_donor #campaign {
  display: none;
}

#cc_campaign_widget #campaign title {
  margin-top: 2px;
}

#cc_campaign_widget #campaign .title a {
  color: #fff;
}

#cc_campaign_widget #campaign .progress {
  position: relative;
  cursor:pointer; 
  width: 200px;
  margin-left: 18px;
  margin-top: 2px; 
  margin-bottom: 3px;
  height: 20px;
  padding: 0 1%; 
  background-color: #ddd; 
  float: left;  
}

#cc_campaign_widget #campaign .progress span {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 18px;
  margin: 0; 
  background-color: #a3aaa3;
  background: url('http://creativecommons.org/images/support/progress.png');
}

#cc_campaign_widget #campaign .results {
  font-size: 0.9em;
  margin: 0 auto;
}

#cc_campaign_widget #campaign .results a {
	color: #fff;
}

/* Donor Counter */

#cc_campaign_widget #donors {
  display: block;
  margin-left: 15px;
  border: 1px solid #030;
}

#cc_campaign_widget #donors a {
  color: #fff;
}

/* Thin styles */

#cc_campaign_widget.thin {
  width: 130px !important;
  font-size: 10px !important;
}

* html #cc_campaign_widget.thin {
  width: 135px !important;
}

#cc_campaign_widget.thin #cc_campaign_widget_bg, #cc_campaign_widget.thin #cc_campaign_widget_bg_logo {
  width: 113px !important;
}

#cc_campaign_widget.thin #cc_campaign_widget_bg_logo {
  background: url('http://creativecommons.org/images/support/2007/widget-logo-small.png') 8px 10px no-repeat;
}

#cc_campaign_widget.thin #campaign, #cc_campaign_widget.thin #donors {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 0px !important;
}

 #cc_campaign_widget.thin #donors {
  width: 101px;
  margin-left: 11px;
 }

* html #cc_campaign_widget.thin #campaign, * html #cc_campaign_widget.thin #donors {
  font-size: 9px;
}

#cc_campaign_widget.thin #campaign .progress{
  width: 100px !important;
  height: 15px !important;
  margin-left: 8px;
}
#cc_campaign_widget.thin #campaign .progress span{
  height: 13px;
}

#cc_campaign_widget.thin h1 {
  width: 107px !important;
  height: 26px;
  /*background-image: url('http://creativecommons.org/images/support/2007/widget-logo-small.png');*/
  margin-left: 12px !important;
}

#cc_campaign_widget.thin p, #cc_campaign_widget.thin form {
  width: 110px !important;
}

#cc_campaign_widget.thin p {
  margin-right: 0 !important;
}

#cc_campaign_widget.thin form {
  margin-left: 7px !important;
  margin-top: 5px;
  text-align: center;
}

#cc_campaign_widget.thin #cc_widget_donation {
  width: 30px !important;
}

#cc_campaign_widget.thin #cc_widget_get {
  width: 130px !important;
  text-align: center; 
}

* html #cc_campaign_widget.thin #cc_widget_get {
	width: 110px !important;
}
