
#campaign08 {
	max-width: 634px;
	margin: 0 auto;
	padding: 1em 0.25em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: auto;
	background: url(/images/support/2008/campaign08c.png) no-repeat 13px 5px;
}

#campaign08 .campaign-block {
	height: 209px;
	float: right;
}

#campaign08 .campaign-block h2 {
  font-family: helvetica;
  font-size: 40px !important;
  line-height: 1em;
  margin: 0.5em 10px 0.5em 0;
  color: #1A6699;
  padding: 5px;
  background-color: #fff;
}

#campaign08 .campaign-block #join-today {
  text-align: center;
}

#campaign08 .campaign-block #join-today a {
  display: block;
  background-color:#fff;
  color: #5E3B20;

  text-decoration: none;
  font: 150% helvetica, arial, sans-serif;

  width: 5.5em;

  margin: 0 auto;
  padding: 0.33em 0.25em 0.25em 0.25em;

  border: 1px solid #A07D65;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#campaign08 #join-today a:hover {
  background-color: #A07D65;
  color: #fff;
}
