{% extends "macros_templates/engine.html" %}

{% block title %}Public Domain Mark{% endblock title %}

{% block headers %}
  <link rel="stylesheet" type="text/css"
        href="{{ request.staticdirect('includes/zero.css') }}" />
{% endblock %}

{% block sidebar %}{% endblock %}

{% block page_header_title %}Public Domain Mark{% endblock %}

{% block body %}
    <div id="waiver_ui" class="yui-module">
      <div class="bd">
        <p><div>
          {{ cctrans(locale, "license.mark.additional_metadata")|safe }}
          <a href="" id="embedded_metadata" class="helpLink">
            <img src="{{ request.staticdirect('/images/information.png') }}"
                 alt="{{ cctrans(locale, 'Information')|safe }}"/></a>
          <div class="help-popover">
            <div class="popover below">
              <div class="arrow"></div>
              <div class="inner">
                <h3 class="title">Embedded Metadata</h3>
                <a href="#" class="close">&times;</a>
                <div class="content">
                  <p>The information is embedded in a software readable format. This allows search engines to index additional information about the marked work.</p>
                  <p><a href="http://wiki.creativecommons.org/Metadata">More information</a> on Creative Commons metadata is available if you want to find out more.</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </p>

        <div id="help_embedded_metadata" class="help_panel">
          <div class="hd">{{ cctrans(locale, "Embedded Metadata")|safe }}</div>
          <div class="bd">
            {{ cctrans(locale, "license.mark.metadata_help")|safe }}
          </div>
        </div>

        <form id="form-details" action="./results">
          <div class="form-section">
            <h3>{{ cctrans(locale, "util.work_information")|safe }}</h3>

            <div class="form-row">
              <div class="form-question">{{ cctrans(locale, "util.work_name")|safe }}</div>
              <div class="form-answer">
                <input name="work_title" class="form-field"/>
                <br />
                <div class="form-field-description">
                  {{ cctrans(locale, "license.mark.work_title")|safe }}
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>

          <div class="form-section">
            <h3>{{ cctrans(locale, "util.author")|safe }}</h3>

            <div class="form-row">
              <div class="form-question">{{ cctrans(locale, "util.author_name")|safe }}</div>
              <div class="form-answer">
                <input name="author_title" class="form-field"/>
                <br />
                <div class="form-field-description">
                  {{ cctrans(locale, "license.mark.author_help")|safe }}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-question">{{ cctrans(locale, "util.author_url")|safe }}</div>
              <div class="form-answer">
                <input name="author_href" class="form-field"/>
                <br />
                <div class="form-field-description">
                  {{ cctrans(locale, "license.mark.author_url_help")|safe }}
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>

          <div class="form-section">
            <h3>{{ cctrans(locale, "util.identifying_party")|safe }}</h3>

            <div class="form-row">
              <div class="form-question">{{ cctrans(locale, "util.name")|safe }}</div>
              <div class="form-answer">
                <input name="curator_title" class="form-field"/>
                <br />
                <div class="form-field-description">
                  {{ cctrans(locale, "license.mark.curator_help")|safe }}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-question">{{ cctrans(locale, "util.url")|safe }}</div>
              <div class="form-answer">
                <input name="curator_href" class="form-field"/>
                <div class="form-field-description">
                  {{ cctrans(locale, "license.mark.curator_href_help")|safe }}
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>

          <div>
            <input type="hidden" name="lang" value="{{ target_lang }}" />
          </div>

          <div class="form-row">
            <div class="form-question">&nbsp;</div>
            <div class="form-answer">
              <input type="submit" id="submit" class="btn"
                     name="field1" value="{{ cctrans(locale, 'util.continue')|safe }}" />
            </div>
          </div>

        </form>

        <br clear="both"/>&nbsp;
      </div>
    </div>

{% endblock %}
