{% extends "macros_templates/engine.html" %}

{% block title %}Creative Commons Public Domain Tools{% endblock %}

{% block page_header_title %}
  {% trans %}Our Public Domain Tools{% endtrans %}
{% endblock %}
  
{% block body %}
  <p>
    {% trans %}Our licenses help authors keep and manage their copyright on terms they choose. Our public domain tools, on the other hand, enable authors and copyright owners who want to dedicate their works to the worldwide public domain to do so, and facilitate the labeling and discovery of works that are already free of known copyright restrictions.{% endtrans %}
  </p>

  <h2>CC0</h2>

  <p>
    {% trans %}You should use this universal tool if you are a holder of copyright or database rights, and you wish to waive all your interests, if any, in your work worldwide. This may be the case if you are digitizing a reproducing an underlying work that is in the public domain work and want to communicate that you claim no copyright in theyour digital versioncopy where copyright law may grant protection.{% endtrans %}
  </p>

  <ul>
    <li>
      <a href="/about/cc0/">{% trans %}Learn more{% endtrans %}</a>
    </li>
    <li>
      <a href="/choose/zero/">{% trans %}Use this tool{% endtrans %}</a>
    </li>
  </ul>

  <h2>{% trans %}Public Domain Mark{% endtrans %}</h2>

  <p>
    {% trans %}Use this tool if you have identified a work that is free of known copyright restrictions. Creative Commons does not recommend this tool for works that are restricted by copyright laws in one or more jurisdictions.{% endtrans %}
  </p>

  <ul>
    <li>
      <a href="/about/pdm">{% trans %}Learn more{% endtrans %}</a>
    </li>
    <li>
      <a href="/choose/mark">{% trans %}Use this tool{% endtrans %}</a>
    </li>
  </ul>
{% endblock body %}
