{% extends "macros_templates/engine.html" %}

{% block title %}Creative Commons Public Domain Tools{% endblock %}

{% block page_header_title %}
  {{ cctrans(locale, "license.pdtools.title") }}
{% endblock %}
  
{% block body %}
  <p>
    {{ cctrans(locale, "license.pdtools.intro") }}
  </p>

  <h2>CC0</h2>

  <p>
    {{ cctrans(locale, "license.pdtools.zero") }}
  </p>

  <ul>
    <li>
      <a href="/about/cc0">{{ cctrans(locale, "util.learn_more") }}</a>
    </li>
    <li>
      <a href="/choose/zero/">{{ cctrans(locale, "util.use_this_tool") }}</a>
    </li>
  </ul>

  <h2>{{ cctrans(locale, "licenses.publicdomain_mark_title") }}</h2>

  <p>
    {{ cctrans(locale, "license.pdtools.pdm") }}
  </p>

  <ul>
    <li>
      <a href="/about/pdm">{{ cctrans(locale, "util.learn_more") }}</a>
    </li>
    <li>
      <a href="/choose/mark">{{ cctrans(locale, "util.use_this_tool") }}</a>
    </li>
  </ul>
{% endblock body %}
