{% extends "macros_templates/popup.html" %}

{% block title %}{% trans %}Noncommercial{% endtrans %}{% endblock %}

{% block body %}
  <p dir="{{ get_ltr_rtl }}" align="{{ is_rtl_align }}" >
    <img src="/icon/nc/standard.gif" alt="nc" hspace="4"
         align="{{ is_rtl_align }}" />
  </p>

  <p dir="{{ get_ltr_rtl }}" align="{{ is_rtl_align }}">
    <strong>{% trans %}Noncommercial{% endtrans %}</strong></p>

  <p dir="{{ get_ltr_rtl }}" align="{{ is_rtl_align }}">
    {% trans %}The licensor permits others to copy, distribute and transmit the work. In return, licensees may not use the work for commercial purposes — unless they get the licensor's permission.{% endtrans %}
  </p>

  <div style="text-align:center">
    <a href="javascript:window.close();">{% trans %}Close window{% endtrans %}</a>
  </div>
{% endblock %}
