{% extends "macros_templates/popup.html" %}

{% block title %}{% trans %}Share Alike{% endtrans %}{% endblock %}

{% block body %}
  <p dir="{{ get_ltr_rtl }}" align="{{ is_rtl_align }}" >
    <img src="/icon/sa/standard.gif" alt="sa" hspace="4"
         align="{{ is_rtl_align }}" />
  </p>

  <p dir="{{ get_ltr_rtl }}" align="{{ is_rtl_align }}">
    <strong>{% trans %}Share Alike{% endtrans %}</strong></p>

  <p dir="{{ get_ltr_rtl }}" align="{{ is_rtl_align }}">
    {% trans %}The licensor permits others to distribute derivative works only under the same license or one compatible with the one that governs the licensor's work.{% endtrans %}
  </p>

  <div style="text-align:center">
    <a href="javascript:window.close();">{% trans %}Close window{% endtrans %}</a>
  </div>
{% endblock %}
